@using CD.ClaimSoft.Application.Models.Agencies

@using Syncfusion.JavaScript
@using Syncfusion.MVC.EJ

@model Agency

<div style="margin: 5px">
    @(Html.EJ().Grid<object>
        ("AgencyEmailGrid").HtmlAttributes(new { style = "width:400px; min-height: 245px;" })
        .Datasource(ds => ds.Json(ViewBag.AgencyEmailDataSource)
            .UpdateURL("/Administration/Administration/AgencyEmailUpdate")
            .InsertURL("/Administration/Administration/AgencyEmailInsert")
            .RemoveURL("/Administration/Administration/AgencyEmailDelete")
            .Adaptor(AdaptorType.RemoteSaveAdaptor))
        .IsResponsive()
        .EditSettings(edit =>
        {
            edit.AllowAdding()
                .AllowEditing()
                .AllowDeleting()
                .EditMode(EditMode.InlineFormTemplate)
                .InlineFormTemplateID("emailEditTemplate");
        })
        .ToolbarSettings(tools =>
        {
            tools.ShowToolbar()
                .ToolbarItems(items =>
                {
                    items.AddTool(ToolBarItems.Add);
                    items.AddTool(ToolBarItems.Edit);
                    items.AddTool(ToolBarItems.Delete);
                });
        })
        .Columns(col =>
        {
            col.Field("EmailAddress").HeaderText("Email Address").Width(150).Priority(1).Add();
            col.Field("EmailType.Name").HeaderText("Email Type").Priority(2).Width(50).Add();
        })
        .ClientSideEvents(events =>
        {
            events.ActionComplete("actionEmailEditComplete");
            events.ActionBegin("actionEmailEditBegin");
        }))
</div>
   
@(Html.EJ().ScriptManager())
