@using Syncfusion.MVC.EJ

@inherits CD.ClaimSoft.UI.Common.CustomViewPage<CD.ClaimSoft.Database.Model.Agency.Agency>

<div style="margin: 5px">
    <div style="float: left; margin: 5px">
        Notes
    </div>
    <div style="float: left; margin: 5px">
        Attachments
    </div>
    <div class="clear"></div>
</div>

@(Html.EJ().ScriptManager())
