@using Syncfusion.MVC.EJ

@inherits CD.ClaimSoft.UI.Common.CustomViewPage<CD.ClaimSoft.Database.Model.Agency.Agency>

<div id="AgencyEditTemplate" style="margin-bottom: 15px;">
    <div input id="agencyEditTab" style="width: 500px">
        <ul>
            <li><a href="#AgencyDetail">Detail</a></li>
            <li><a href="#AgencyAddress">Address</a></li>
            <li><a href="#AgencyPhoneEmail">Phone/Email</a></li>
            <li><a href="#AgencyNotesAttachments">Note/Attachment</a></li>
        </ul>
    </div>
    <div id="AgencyDetail">@{ Html.RenderPartial("_AgencyDetail", @Model); }</div>
    <div id="AgencyAddress">@{ Html.RenderPartial("_AgencyAddress", @Model); }</div>
    <div id="AgencyPhoneEmail">@{ Html.RenderPartial("_AgencyPhoneEmail", @Model); }</div>
    <div id="AgencyNotesAttachments">@{ Html.RenderPartial("_AgencyNotesAttachments", @Model); }</div>
</div>

@(Html.EJ().ScriptManager())