@using CD.ClaimSoft.Database.Model.Agency
@using Syncfusion.JavaScript
@using Syncfusion.MVC.EJ

@inherits CD.ClaimSoft.UI.Common.CustomViewPage<CD.ClaimSoft.Database.Model.Agency.Agency>

@{
    ViewBag.Title = "Agency Administration";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Administration/Agency/Agency.js"></script>

<div class="content-heading">
    <span data-localize="administration.AGENCYADMINISTRATION"></span>
</div>

@(Html.EJ().Grid<Agency>("AgencyGrid") //.HtmlAttributes(new { style = "width:80%;" })
          .Datasource(ds => ds.Json(DdlDataSources.GetAgenciesDatasource)
              .UpdateURL("/Administration/Administration/AgencyUpdate")
              .InsertURL("/Administration/Administration/AgencyInsert")
              .Adaptor(AdaptorType.RemoteSaveAdaptor))
          .AllowPaging()
          .EnableAltRow()
          .PageSettings(page => page.PageSize(10))
          .IsResponsive(true)
          .EnableAutoSaveOnSelectionChange(false)
          .EditSettings(edit =>
          {
              edit.AllowAdding()
                  .AllowEditing()
                  .EditMode(EditMode.InlineFormTemplate)
                  .InlineFormTemplateID("AgencyEditTemplate")
                  .AllowEditOnDblClick(true);
          })
          .ToolbarSettings(tools =>
          {
              tools.ShowToolbar()
                  .ToolbarItems(items =>
                  {
                      items.AddTool(ToolBarItems.Add);
                      items.AddTool(ToolBarItems.Edit);
                  });
          })
          .Columns(col =>
          {
              col.Field("Name").HeaderText("Name").Width(150).Priority(3).Add();
              col.Field("Code").HeaderText("Code").Priority(4).Width(50).Add();
              col.Field("IsActive").HeaderText("Is Active").Width(50).Priority(5).Add();
              col.Field("AgencyTenantId").HeaderText("Tenant ID").IsPrimaryKey(true).Width(145).Priority(2).Add();
          })
          .ClientSideEvents(events =>
          {
              events.ActionComplete("AgencyGridActionComplete")
                  .ActionBegin("AgencyGridActionBegin");
          })
)

<script>

    function AgencyGridActionBegin(args) {
        if (args.requestType === "save")
            this.element.ejWaitingPopup("show");
    }

    function AgencyGridActionComplete(args) {
        var type = args.requestType;
        if (type === "beginedit" || type === "add") {
            $("#AgencyGrid_inlineFormTitle").hide();

            var selectedAgency = null;
            if (!ej.isNullOrUndefined(args.rowIndex))
                selectedAgency = this.model.currentViewData[args.rowIndex];

            this.element.ejWaitingPopup("show");

            if (type === "add") {
                $.ajax({
                    url: '@Url.Action("AgencyAdd", "Administration", new {Area = "Administration"})',
                    type: "GET",
                    success: ej.proxy(function(data) {
                            var containerId = $("#" + this._id + "EditForm");

                            containerId.html(data);

                            $("#agencyEditTab").ejTab();

                            ej.widget.init(containerId);

                            this.element.ejWaitingPopup("hide");
                        },
                        this)
                });
            } else {
               $.ajax({
                    url: '@Url.Action("AgencyEdit", "Administration", new {Area = "Administration"})',
                    type: "POST",
                    data: '{ model: ' + JSON.stringify(selectedAgency) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: ej.proxy(function(data) {
                            var containerId = $("#" + this._id + "EditForm");

                            containerId.html(data);

                            $("#agencyEditTab").ejTab();

                            ej.widget.init(containerId);

                            this.element.ejWaitingPopup("hide");
                        },
                        this)
                });
            }
        }

        if (type === "save" || type === "cancel") {
            this.element.ejWaitingPopup("hide");
        }
    }

    //# sourceURL=Agency.cshtml

</script>
