<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="Framework" type="System.Data..Internal.ConfigFile.FrameworkSection, Framework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on  Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="ClaimSoftContext" connectionString="data source=.;initial catalog=cdTestDB;user id=cdServiceAccount;password=cdServiceAccount;MultipleActiveResultSets=True;App=Framework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <Framework>
    <defaultConnectionFactory type="System.Data..Infrastructure.LocalDbConnectionFactory, Framework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data..SqlServer.SqlProviderServices, Framework.SqlServer" />
    </providers>
  </Framework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyId name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyId name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" /></startup></configuration>
