
src/CD\.ClaimSoft\.UI/bin/

src/CD\.ClaimSoft\.UI/logs/

src/CD\.ClaimSoft\.UI/obj/

*.user

src/CD\.ClaimSoft\.UI/App_Data/

src/packages/

src/CD\.ClaimSoft\.Application/obj/

src/CD\.ClaimSoft\.Application/bin/

src/CD\.ClaimSoft\.Common/bin/

src/CD\.ClaimSoft\.Common/obj/

src/CD\.ClaimSoft\.Database/obj/

src/CD\.ClaimSoft\.Database/bin/

src/\.vs/

src/Backup/

src/Backup1/

src/TestResults/

src/CD\.ClaimSoft\.Redis/bin/

src/CD\.ClaimSoft\.Redis/obj/

src/CD\.ClaimSoft\.Logging/bin/

src/CD\.ClaimSoft\.Logging/obj/

src/CD\.ClaimSoft\.Database\.Identity/bin/

src/CD\.ClaimSoft\.Database\.Identity/obj/

src/CD\.ClaimSoft\.Database\.FileTable\.Tests/obj/

src/CD\.ClaimSoft\.Database\.FileTable\.Tests/bin/

src/CD\.ClaimSoft\.Database\.FileTable/bin/

src/CD\.ClaimSoft\.Database\.FileTable/obj/
