
src/CD\.ClaimSoft\.UI/bin/

src/CD\.ClaimSoft\.UI/logs/

src/CD\.ClaimSoft\.UI/obj/

*.user

src/CD\.ClaimSoft\.UI/App_Data/

src/packages/

src/CD\.ClaimSoft\.Application/obj/

src/CD\.ClaimSoft\.Application/bin/

src/CD\.ClaimSoft\.Common/bin/

src/CD\.ClaimSoft\.Common/obj/

src/CD\.ClaimSoft\.Database/obj/

src/CD\.ClaimSoft\.Database/bin/
