USE [master]
GO
/****** Object:  Database [cdTestDB]    Script Date: 2/20/2018 9:47:40 AM ******/
CREATE DATABASE [cdTestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cdTestDB', FILENAME = N'D:\Sandbox\ClaimSoft\src\CD.ClaimSoft.UI\App_Data\cdTestDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ),
( NAME = N'ImportData', FILENAME = N'D:\Sandbox\ClaimSoft\src\CD.ClaimSoft.UI\App_Data\cdImportDataDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ), 
 FILEGROUP [FTFG] CONTAINS FILESTREAM  DEFAULT
( NAME = N'FileTableFS', FILENAME = N'D:\FileTable\CDFS' , MAXSIZE = UNLIMITED)
 LOG ON 
( NAME = N'FileTableDBLog', FILENAME = N'D:\Sandbox\ClaimSoft\src\CD.ClaimSoft.UI\App_Data\cdTestDB_Log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cdTestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cdTestDB]
GO
USE [cdTestDB]
GO
/****** Object:  User [cdServiceAccount]    Script Date: 2/20/2018 9:47:40 AM ******/
CREATE USER [cdServiceAccount] FOR LOGIN [cdServiceAccount] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [AzureAD\ChuckDuncan]    Script Date: 2/20/2018 9:47:40 AM ******/
CREATE USER [AzureAD\ChuckDuncan] FOR LOGIN [AzureAD\ChuckDuncan] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [cdServiceAccount]
GO
ALTER ROLE [db_owner] ADD MEMBER [AzureAD\ChuckDuncan]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [AzureAD\ChuckDuncan]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [AzureAD\ChuckDuncan]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [AzureAD\ChuckDuncan]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [AzureAD\ChuckDuncan]
GO
ALTER ROLE [db_datareader] ADD MEMBER [AzureAD\ChuckDuncan]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [AzureAD\ChuckDuncan]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [AzureAD\ChuckDuncan]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [AzureAD\ChuckDuncan]
GO
/****** Object:  SqlAssembly [FileTableFramework]    Script Date: 2/20/2018 9:47:40 AM ******/
CREATE ASSEMBLY [FileTableFramework]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C010300DD265E5A0000000000000000E00022200B013000002E00000008000000000000364C000000200000006000000000001000200000000200000400000000000000060000000000000000A000000002000000000000030060850000100000100000000010000010000000000000100000000000000000000000E44B00004F000000006000004C04000000000000000000000000000000000000008000000C000000AC4A00001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E746578740000003C2C000000200000002E000000020000000000000000000000000000200000602E727372630000004C040000006000000006000000300000000000000000000000000000400000402E72656C6F6300000C0000000080000000020000003600000000000000000000000000004000004200000000000000000000000000000000184C00000000000048000000020005009C2A00001020000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B3003002C00000001000011007201000070731300000A0A00066F1400000A0002061428020000060BDE0B062C07066F1500000A00DC072A0110000002000C00131F000B000000001330030017000000020000110004252D0626731600000602036F260000060A2B00062A001B3004002D00000003000011007201000070731300000A0A00066F1400000A000203061428040000060BDE0B062C07066F1500000A00DC072A0000000110000002000C001420000B000000001330040018000000040000110005252D062673200000060203046F280000060A2B00062A1B3004002D00000003000011007201000070731300000A0A00066F1400000A000203061428060000060BDE0B062C07066F1500000A00DC072A0000000110000002000C001420000B000000001330040018000000040000110005252D062673200000060203046F290000060A2B00062A1B3005002E00000005000011007201000070731300000A0A00066F1400000A00040203061428080000065100DE0B062C07066F1500000A00DC2A00000110000002000C001622000B000000001330040018000000040000110005252D062673200000060203046F2A0000060A2B00062A1B3006003300000005000011007201000070731300000A0A00066F1400000A00050203040614280A000006811800000100DE0B062C07066F1500000A00DC2A000110000002000C001B27000B00000000133005001A00000006000011000E04252D06267320000006020304056F2C0000060A2B00062A2202281600000A002A0013300300BA0000000700001100026F120000060E056F2F0000062602030E056F0E00000616FE01130411042C0C007231000070731700000A7A05281800000A130511052C1000022814000006146F2D000006100300728B0000700A0603281900000A0B070E05731A00000A0C086F1B00000A729401007004731C00000A6F1D00000A26086F1B00000A72A80100700E04731C00000A6F1D00000A26086F1B00000A72B401007005731C00000A6F1D00000A26086F1E00000AA5180000010D0913062B0011062A000013300300880000000800001100026F12000006056F2F000006260203056F0E00000616FE010C082C0C007231000070731700000A7A0416320704183003042B0116100272C401007005731A00000A0A066F1B00000A721802007003731C00000A6F1D00000A26066F1B00000A7226020070048C24000001731C00000A6F1D00000A26066F1E00000A75200000010B070D2B00092A13300300460000000A00001100026F12000006046F2F00000626723602007004731A00000A0A066F1B00000A721802007003731C00000A6F1D00000A26066F1E00000AA5240000010B0717FE010C2B00082A000013300300B80000000B00001100026F120000060E046F2F0000062602030E046F0E00000616FE010D092C0C007231000070731700000A7A72CF0200700A0603281900000A0B070E04731A00000A0C086F1B00000A728C03007004731C00000A6F1D00000A2605281800000A16FE01130411042C3B00022814000006056F2D000006100372960300700A080603281900000A6F1F00000A00086F1B00000A72B401007005731C00000A6F1D00000A2600086F1E00000A752000000110030513052B0011052A13300400380100000C00001100026F120000060E046F2F0000062602030E046F0E00000616FE01130511052C0C007231000070731700000A7A0203160E046F0D0000060A0203180E046F0D0000060B020406072811000006130611062C0D007281040070130738D6000000040628300000060C046F2000000A086F2000000AFE01130811082C08040728300000060C0828320000060D1413040009130916130A388B0000001109110A9A130B007285040070031104282100000A2D0772480500702B057266050070282200000A130C110C0E04731A00000A130D110D6F1B00000A72760500701104731C00000A6F1D00000A26110D6F1B00000A728C030070110B731C00000A6F1D00000A26110D6F1E00000A752000000113041104281800000A130E110E2C022B1200110A1758130A110A11098E693F6AFFFFFF110413072B0011072A13300500440000000D0000110004282300000A0A03282100000A2D2E0304196F2400000A2D240305196F2400000A2D1A03178D2700000125161F5C9D6F2500000A06196F2400000A2B01170B2B00072A13300300190000000E000011027B02000004252D0F26027322000006250A7D02000004062A2202037D020000042A000013300300190000000F000011027B03000004252D0F26027336000006250A7D03000004062A2202037D030000042A00001330060056000000100000110004282300000A0A04282600000A0B0203070E046F1A0000060C08281800000A130411042C0B0203070E046F180000060C02281C000006030602281E000006086F2D000006050E046F230000060D0913052B0011052A00001330050087000000110000110004178D2700000125161F5C9D6F2700000A0A732800000A0B140C2B2C00020306056F1A0000060C08281800000A0D092C16000706282300000A6F2900000A0006282600000A0A000008281800000A2C0B06281800000A16FE012B0116130411042DBA076F2A00000A16FE02130511052C0D0002030708056F190000060C000813062B0011062A00133005002F00000012000011002B190002281C00000603046F2B00000A050E046F24000006100300046F2A00000A16FE020A062DDA050B2B00072A001330050015000000040000110002281C000006030417056F250000060A2B00062A0000001330050015000000040000110002281C000006030416056F250000060A2B00062A000000133003001900000013000011027B04000004252D0F26027316000006250A7D04000004062A2202037D040000042A000013300300190000000F000011027B05000004252D0F26027336000006250A7D05000004062A2202037D050000042A0000133002004C0000001400001100032C0E036F2C00000A17FE0116FE012B01170A062C2F007290050070032D0B1201FE150200001B072B0B036F2C00000A732D00000A8C0200001B282E00000A731700000A7A170C2B00082A133003003E0000001500001100160A0003066F2F00000A100102036F3000000A0B072C100216036F2000000A6F3100000A0C2B1400032831000006250A16FE020D092DCB020C2B00082A0000133002001E00000016000011000272E2050070283200000A6F3300000A0A062C03062B01170B2B00072A00001330020023000000170000110072E2050070283200000A0A026F3400000A066F3500000A066F3600000A0B2B00072A00133003001200000004000011000203283700000A28340000060A2B00062A0000133007006A000000180000110072E80500700A0F02283800000A0B03281800000A0D092C0772810400701001061A8D12000001251603A22517161C0728350000068C28000001A225181C1C0728350000068C28000001A225191F0C1A0728350000068C28000001A2283900000A0C0813042B0011042A0000133005002800000019000011001E8D290000010A0402061E035903283A00000A0006283B00000A000616283C00000A0B2B00072A42534A4201000100000000000C00000076342E302E33303331390000000005006C000000080B0000237E0000740B0000B808000023537472696E6773000000002C1400000806000023555300341A0000100000002347554944000000441A0000CC05000023426C6F620000000000000002000001571FA2090900000000FA013300160000010000002B0000000B00000005000000360000007C000000040000003C0000000600000019000000190000000200000004000000080000000200000001000000030000000000FE0301000000000006003E027A060600DB027A06060048037A060600B5011D0613009A0600000600DD0146040600A202460406006E02460406002F0346040600FB02460406001403460406000A0246040600C9015B060600A7015B060600510246040600BF027A060600250278030600D20722040A008D02F8050A00D100F8050A00CB00F8050A007C04DF070A00F401F8050600980022040A00C000DF070E000C004F000600010022040A00970135000A006F049B0406001301220406008A0422040600920322040A005804DF070A00DE05DF070A00B6009B040600140022040600DE032B000600AE04220406000405220406001C0022040600660322040600530822040600EB052204000000002200000000000100010001001000E106F30049000100010000001000E4040F07490001000C0000001000CD05350749000400170000001000AE053507490006002100A1000000BF043006000006002300A100000065053006000006002800A100000017053006000006002D00A1000000AD053006000006002F0081011000F506B6064900060030000100100042056D0749000600330051806908780001009D0563020100530567020100F2046B020100530567025020000000009600970745000100982000000000930096076F020200BC20000000009600B407780205000821000000009300B3077E0207002C21000000009600A80778020B007821000000009300A7077E020D009C210000000096007C0888021100E8210000000093007B087E0214000C220000000096002601900218005C2200000000930025019B021C0082220000000086181706010021008C2200000000E6012601A8022100542300000000C601D203B4022600E82300000000C6019707BC0229003C2400000000C6017C08C3022B00002500000000C601B003CC022F004426000000008300FF07D5023300942600000000C6097705DC023600B92600000000C6098A05E1023600C4260000000086082905E7023700E9260000000086083E05EC0237008222000000008618170601003800F42600000000E6012601F2023800582700000000C6017C08FD023C00EC2700000000C601570105033F00282800000000C601B407FD0243004C2800000000C601A807FD0246007028000000008608CE04120349009528000000008608E00417034900A0280000000086082905E7024A00C5280000000086083E05EC024A008222000000008618170601004B00D02800000000E60189001D034B008222000000008618170601004C00000000000000C6052601A8024C00000000000000C6057C08C3025100000000000000C605B003CC025500000000000000C6059707BC025900000000000000C605D203B4025B00000000000000C605B407FD025E00000000000000C605A807FD026100000000000000C6057C08FD026400000000000000C605570105036700000000000000C6052601F2026B00000000000000C605710023036F00000000000000C605710028037000000000000000C60589001D0372002829000000009600B90378027300742900000000910034082F037500A029000000009600980834037600D02900000000E601710023037700F02900000000E601710028037800682A000000009300A3033A037A008222000000008618170601007D00000001001F01000001001F0100000200410410100300FB04000001001F0100000200E303000001001F0100000200E30300000300410410100400C305000001001F0100000200E303000001001F0100000200E30300000300410410100400C305000001001F0100000200E30302000300AB00000001001F0100000200E30300000300410410100400C305000001001F0100000200E30300000300410002000400AB00000001001F0100000200E30300000300410000000400410410100500C305000001001F01000002003D01000003006A00000004004100000005004104000001001F01000002009404000003004104000001001F01000002004104000001001F01000002001306000003006A00000004004104000001001F0100000200E303000003008C0800000400410400000100E303000002000B08000003002E04000001006B03000001006B03000001001F0100000200E303000003004100000004004104000001001F0100000200E303000003004104000001001F01000002008001000003006A00000004004104000001001F0100000200E303000003004104000001001F0100000200E303000003004104000001006B03000001006B03000001004104000001001F01000002003D0100000300A200000004004100000005004104000001001F0100000200130600000300A200000004004104000001001F0100000200E303000003008C08000004004104000001001F01000002004104000001001F01000002009404000003004104000001001F0100000200E303000003004104000001001F0100000200E303000003004104000001001F0100000200E303000003004104000001001F01000002008001000003006A00000004004104000001001F0100000200E303000003004100000004004104000001006A00000001006A00000002009D0000000100410400000100C90300000200150800000100150800000100E303000001006A00000001006A00000002009D00000001004400000002004D0000000300A9060300180004001C00050024000B002000090017060100110017060500190017060100210017060A00310017061000390017061000410017061000490017061000510017061000590017061000610017061000690017061500710017061000790017061000810017061000890017061000990017060100B90017060100B10017061000E9003C040100F10070010100910017060100F900170610000101E00045000101CB074A00C90017065000C9005E075700110117065D00090185006300190109056C001901240810000101E803A1000101A90845000101CB07A50029013101B1000101AF06B60001011A08BE0029014601B1000101AE00BE000C00170601000C00AB03ED000C00F507A1000C000005F800E9008D010D0114001706ED000101C40719010101990326010101F3032B0101017103300101014D083B01010159084001010129044D0101012904BE000101D9075101C10095005801C100410866010101CB076B0151016408780151017801850159011A008C010E0004009C01120011005E02120029005E02120041005E0212005D005E02120081005E0220008B00A3042E000B0051032E00130056032E001B005F032E0023007E032E002B0087032E003300A9032E003B00A9032E004300A9032E004B0087032E005300AF032E005B00A9032E006300A9032E006B00DC032E00730006042E007B0013042E007B003B042E008300590460008B00A304A0008B00A304E0009300510320019300510343010B00510300060B00510340060B0051031A00200024002A002E0033003800700078007B0082008C00AC00C400C900CE00D900F300FD0002011F01360146015D017201030001000400030000008E0542030000420547030000E4044C0300004205470302001200030001001300030002001400050001001500050002001C00070001001D00070002001E00090001001F000900E7001201048000000100000001000000000000000000F30000000400000000000000000000009301460000000000040000000000000000000000930135000000000004000000000000000000000093012204000000000000004E756C6C61626C65603100537461636B603100496E74333200546F496E743634003C4D6F64756C653E0053797374656D2E494F0053797374656D2E446174610064617461006D73636F726C69620053797374656D2E436F6C6C656374696F6E732E47656E6572696300706174684964004E65774368696C64486965726172636879496400416464004973436F6E6E6563746564004E6577477569640067756964006869657261726368796964005472696D456E64004462436F6D6D616E640053716C436F6D6D616E640053797374656D446174614163636573734B696E640049734E756C6C4F72576869746553706163650043442E436C61696D536F66742E44617461626173652E46696C655461626C650049446973706F7361626C65007461626C65005F43726561746546696C650047657446696C654E616D650066696C654E616D65004765744469726563746F72794E616D65004372656174654469726563746F727953747275637475726500446973706F736500526576657273650064697273546F437265617465006765745F537461746500436F6E6E656374696F6E537461746500477569644174747269627574650044656275676761626C6541747472696275746500436F6D56697369626C6541747472696275746500417373656D626C795469746C654174747269627574650053716C50726F63656475726541747472696275746500417373656D626C7954726164656D61726B417474726962757465005461726765744672616D65776F726B41747472696275746500457874656E73696F6E41747472696275746500417373656D626C7946696C6556657273696F6E41747472696275746500417373656D626C79436F6E66696775726174696F6E4174747269627574650053716C46756E6374696F6E41747472696275746500417373656D626C794465736372697074696F6E41747472696275746500496E7465726E616C7356697369626C65546F41747472696275746500436F6D70696C6174696F6E52656C61786174696F6E7341747472696275746500417373656D626C7950726F6475637441747472696275746500417373656D626C79436F7079726967687441747472696275746500417373656D626C79436F6D70616E794174747269627574650052756E74696D65436F6D7061746962696C69747941747472696275746500427974650076616C75650052656D6F76650053797374656D2E52756E74696D652E56657273696F6E696E6700537472696E6700537562737472696E67004765744C6F6E6700507573680046696E64506174680047657452656C6174697665506174680066756C6C50617468004765745461626C65526F6F74506174680070617468006765745F4C656E67746800537461727473576974680043442E436C61696D536F66742E44617461626173652E46696C655461626C652E646C6C0053797374656D005472696D007461626C65526F6F744671646E004F70656E00636F6E6E0053797374656D2E5265666C656374696F6E0053716C506172616D65746572436F6C6C656374696F6E004462436F6E6E656374696F6E0053716C436F6E6E656374696F6E00457863657074696F6E006F7074696F6E0053797374656D2E446174612E436F6D6D6F6E00537472696E67436F6D70617269736F6E004946696C655461626C655265706F006765745F46696C655461626C655265706F007365745F46696C655461626C655265706F005F6469725265706F007265706F00506F70004368617200457865637574655363616C617200494869657261726368794275696C646572006765745F4869657261726368794275696C646572007365745F4869657261726368794275696C646572005F6869657261726368794275696C646572004946696C655461626C654D616E61676572006765745F53716C436F6E6E4D616E61676572007365745F53716C436F6E6E4D616E61676572005F73716C436F6E6E4D616E61676572004953716C436F6E6E656374696F6E4D616E616765720066744D616E61676572004469726563746F72794D616E616765720053716C506172616D6574657200426974436F6E766572746572004D6963726F736F66742E53716C5365727665722E53657276657200646972002E63746F720053797374656D2E446961676E6F73746963730043442E436C61696D536F66742E44617461626173652E46696C655461626C652E496E74657266616365730053797374656D2E52756E74696D652E496E7465726F7053657276696365730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300446562756767696E674D6F64657300627974657300457175616C730043442E436C61696D536F66742E44617461626173652E46696C655461626C652E457874656E73696F6E730046696C655461626C65457874656E73696F6E7300537472696E674469726563746F7279457874656E73696F6E730043442E436C61696D536F66742E44617461626173652E46696C655461626C652E5265706F730043442E436C61696D536F66742E44617461626173652E46696C655461626C652E4D616E6167657273006765745F506172616D65746572730043442E436C61696D536F66742E44617461626173652E46696C655461626C652E427573696E657373005F46696C655461626C65457869737473005F46696C65457869737473005F4469726563746F727945786973747300436F6E63617400466F726D6174004F626A6563740053706C69740053797374656D2E446174612E53716C436C69656E74006765745F436F756E740049735461626C65526F6F74007461626C65526F6F7400726F6F74005472696D5374617274007365745F436F6D6D616E6454657874004765744E657874496E64657800546F42797465417272617900546F43686172417272617900496E6465784F66416E7900436F707900476574506174684C6F6361746F72517279005F4372656174654469726563746F72790069734469726563746F72790053706C697442794469726563746F72790049734E756C6C4F72456D7074790000002F63006F006E007400650078007400200063006F006E006E0065006300740069006F006E003D00740072007500650000595400610062006C006500200064006F006500730020006E006F007400200065007800690073007400730020006F00720020006900730020006E006F007400200061002000460069006C0065005400610062006C0065002E0000810749004E005300450052005400200049004E0054004F0020007B0030007D00200028006E0061006D0065002C002000660069006C0065005F00730074007200650061006D002C00200070006100740068005F006C006F006300610074006F0072002900200020004F0055005400500055005400200049006E007300650072007400650064002E00730074007200650061006D005F00690064002000560041004C00550045005300200028004000660069006C0065004E0061006D0065002C002000400064006100740061002C002000480069006500720061007200630068007900490064003A003A0050006100720073006500280040007000610074006800490064002900290000134000660069006C0065004E0061006D006500000B40006400610074006100000F40007000610074006800490064000053530045004C004500430054002000460069006C0065005400610062006C00650052006F006F0074005000610074006800280040007400610062006C0065002C00200040006F007000740069006F006E002900000D40007400610062006C006500000F40006F007000740069006F006E00008097530045004C00450043005400200043006F0075006E00740028006E0061006D00650029002000460052004F004D0020005300790073002E005400610062006C006500730020005700480045005200450020006E0061006D00650020003D00200040007400610062006C006500200061006E0064002000690073005F00660069006C0065007400610062006C00650020003D00200031000080BB49004E005300450052005400200049004E0054004F0020007B0030007D00200028006E0061006D0065002C002000690073005F006400690072006500630074006F0072007900290020004F0055005400500055005400200049006E007300650072007400650064002E0070006100740068005F006C006F006300610074006F0072002E0054006F0053007400720069006E006700280029002000560041004C005500450053002000280040006400690072002C00200031002900000940006400690072000080E949004E005300450052005400200049004E0054004F0020007B0030007D00200028006E0061006D0065002C002000690073005F006400690072006500630074006F00720079002C00200070006100740068005F006C006F006300610074006F007200290020004F0055005400500055005400200049006E007300650072007400650064002E0070006100740068005F006C006F006300610074006F0072002E0054006F0053007400720069006E006700280029002000560041004C005500450053002000280040006400690072002C00200031002C0020004000700061007400680049006400290000032F000080C1530045004C00450043005400200070006100740068005F006C006F006300610074006F0072002E0054006F0053007400720069006E006700280029002000460052004F004D0020007B0030007D00200057004800450052004500200070006100720065006E0074005F0070006100740068005F006C006F006300610074006F0072002E0054006F0053007400720069006E0067002800290020007B0031007D00200041004E00440020006E0061006D00650020003D0020004000640069007200001D3D002000400070006100740068004C006F006300610074006F007200000F6900730020006E0075006C006C000019400070006100740068004C006F006300610074006F00720000515400680065002000530071006C00200043006F006E006E0065006300740069006F006E0020006D0075007300740020006200650020006F00700065006E002E002000490074002000770061007300200000055C002F00001F7B0030007D007B0031007D002E007B0032007D002E007B0033007D002F0000EC1A9F6D71F9A34F95F61F725DAEF16400032000010420010108052001011115042001010E04200101020507021259020307010205070212590E0307010E040701125904070111610C07070E0E1265116102021161040001020E0500020E0E1C062002010E1259052000128085052002010E1C0820011280891280890320001C07070412650E020E02060E060703126508020907060E0E126502020E14070F0E0E0E1D0E0E02020E021D0E080E0E126502032000080600030E0E1C1C0407020E020400010E0E072002020E1180990520010E1D03040701122404070112200A07060E0E0E11610211610D07070E151269010E0E0202020E05151269010E052001011300040702020E042000130004070112180A07030215116D0111710204200011710615116D0111710500020E1C1C06070408020E020420010E08042001020E0520020E080804070208080420001D03052001081D030607021D031D0E0320000E0620011D0E1D0304000011610807050E1D050E020E0420001D050600020E0E1D1C0507021D050A0C0005011280A9081280A90808060001011280A90600020A1D050808B77A5C561934E08980C0530045004C00450043005400200070006100740068005F006C006F006300610074006F0072002E0054006F0053007400720069006E006700280029002000460052004F004D0020007B0030007D00200057004800450052004500200070006100720065006E0074005F0070006100740068005F006C006F006300610074006F0072002E0054006F0053007400720069006E0067002800290020007B0031007D00200041004E00440020006E0061006D00650020003D00200040006400690072000400000000030612240306122003061218080003020E125912180500020E0E0E0900040E0E0E1259121C070003010E0E100E0A0004010E0E1D051011610C000511610E0E1D051259121C0B200511610E0E0E1D0512590720030E0E081259062002020E12590820040E0E0E0E12590820040E0E0E021259062003020E0E0E042000122405200101122404200012200520010112200A200411610E0E1D0512590720030E0E0E12590C20040E0E151269010E0E125904200012180520010112180520010212590420010E0E0620020E0E1161040001080E0500011D0E0E0700030A08081D0504280012240428001220042800121804010000000801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F7773010801000701000000002101001C5268796F75732E44622E46696C655461626C654672616D65776F726B00000501000000002C010027436F7079726967687420C2A9205268796F7573205075626C697368696E67204C4C43203230313600002901002439633764393136622D376165642D343432352D626437342D66653963333964623632393400000C010007312E302E312E300000270100225268796F75732E44622E46696C655461626C654672616D65776F726B2E546573747300001D01001844796E616D696350726F787947656E417373656D626C793200004901001A2E4E45544672616D65776F726B2C56657273696F6E3D76342E370100540E144672616D65776F726B446973706C61794E616D65122E4E4554204672616D65776F726B20342E378126010002005455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D342E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730100000054557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D342E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D44617461416363657373010000000000000000DD265E5A00000000020000001C010000C84A0000C82C000052534453E8ADF3DDB950654F99310F941362025B01000000443A5C53616E64626F785C436C61696D536F66745C7372635C43442E436C61696D536F66742E44617461626173652E46696C655461626C655C6F626A5C44656275675C43442E436C61696D536F66742E44617461626173652E46696C655461626C652E70646200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000C4C00000000000000000000264C0000002000000000000000000000000000000000000000000000184C0000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF2500200010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058600000F00300000000000000000000F00334000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000001000000010000000100000001003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B00450030000010053007400720069006E006700460069006C00650049006E0066006F0000002C03000001003000300030003000300034006200300000001A000100010043006F006D006D0065006E007400730000000000000022000100010043006F006D00700061006E0079004E0061006D006500000000000000000062001D000100460069006C0065004400650073006300720069007000740069006F006E00000000005200680079006F00750073002E00440062002E00460069006C0065005400610062006C0065004600720061006D00650077006F0072006B0000000000300008000100460069006C006500560065007200730069006F006E000000000031002E0030002E0031002E003000000068002400010049006E007400650072006E0061006C004E0061006D0065000000430044002E0043006C00610069006D0053006F00660074002E00440061007400610062006100730065002E00460069006C0065005400610062006C0065002E0064006C006C0000007200270001004C006500670061006C0043006F007000790072006900670068007400000043006F0070007900720069006700680074002000A90020005200680079006F007500730020005000750062006C0069007300680069006E00670020004C004C00430020003200300031003600000000002A00010001004C006500670061006C00540072006100640065006D00610072006B00730000000000000000007000240001004F0072006900670069006E0061006C00460069006C0065006E0061006D0065000000430044002E0043006C00610069006D0053006F00660074002E00440061007400610062006100730065002E00460069006C0065005400610062006C0065002E0064006C006C0000005A001D000100500072006F0064007500630074004E0061006D006500000000005200680079006F00750073002E00440062002E00460069006C0065005400610062006C0065004600720061006D00650077006F0072006B0000000000340008000100500072006F006400750063007400560065007200730069006F006E00000031002E0030002E0031002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000031002E0030002E0031002E00300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000C000000383C00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE
GO
/****** Object:  UserDefinedFunction [dbo].[DirectoryExists]    Script Date: 2/20/2018 9:47:40 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[DirectoryExists](@table [nvarchar](100), @path [nvarchar](400))
RETURNS [nvarchar](max) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [FileTableFramework].[CD.ClaimSoft.Database.FileTable.FileTableExtensions].[DirectoryExists]
GO
/****** Object:  UserDefinedFunction [dbo].[FileExists]    Script Date: 2/20/2018 9:47:40 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[FileExists](@table [nvarchar](100), @path [nvarchar](400))
RETURNS [nvarchar](max) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [FileTableFramework].[CD.ClaimSoft.Database.FileTable.FileTableExtensions].[FileExists]
GO
/****** Object:  UserDefinedFunction [dbo].[FileTableExists]    Script Date: 2/20/2018 9:47:40 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[FileTableExists](@table [nvarchar](100))
RETURNS [bit] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [FileTableFramework].[CD.ClaimSoft.Database.FileTable.FileTableExtensions].[FileTableExists]
GO
/****** Object:  Table [dbo].[Element_to_Variables]    Script Date: 2/20/2018 9:47:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Element_to_Variables](
	[DataElementID] [int] IDENTITY(1,1) NOT NULL,
	[DataElementNumber] [varchar](10) NOT NULL,
	[DataElementName] [varchar](255) NULL,
	[DataElementVariableCode] [float] NULL,
	[DataElementVariableName] [varchar](255) NULL,
 CONSTRAINT [PK_Element_to_Variables] PRIMARY KEY CLUSTERED 
(
	[DataElementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[LookupValues]    Script Date: 2/20/2018 9:47:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[LookupValues]
AS
SELECT DISTINCT DataElementVariableCode, DataElementVariableName
FROM         dbo.Element_to_Variables
WHERE     (NOT (DataElementVariableCode IS NULL))

GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/20/2018 9:47:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_AgencyImport]    Script Date: 2/20/2018 9:47:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
CREATE TABLE [dbo].[_AgencyImport] AS FILETABLE ON [PRIMARY] FILESTREAM_ON [FTFG]
WITH
(
FILETABLE_DIRECTORY = N'AgencyImport', FILETABLE_COLLATE_FILENAME = SQL_Latin1_General_CP1_CI_AS
)
GO
/****** Object:  Table [dbo].[_AgencyLogo]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
CREATE TABLE [dbo].[_AgencyLogo] AS FILETABLE ON [PRIMARY] FILESTREAM_ON [FTFG]
WITH
(
FILETABLE_DIRECTORY = N'AgencyLogo', FILETABLE_COLLATE_FILENAME = SQL_Latin1_General_CP1_CI_AS
)
GO
/****** Object:  Table [dbo].[AddressType]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AddressType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agency]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agency](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AgencyTenantId] [nvarchar](128) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[InactiveDate] [datetime] NULL,
	[ParentAgencyId] [int] NULL,
	[WebSite] [nvarchar](250) NULL,
	[ContactName] [nvarchar](250) NOT NULL,
	[NpiNumber] [int] NOT NULL,
	[TaxIdNumber] [int] NULL,
	[Taxonomy] [nvarchar](50) NULL,
	[DisableLifetimeSignature] [bit] NOT NULL,
	[LogoFileName] [nvarchar](50) NULL,
	[LogoStreamId] [nvarchar](128) NULL,
	[UseImageOnStatement] [bit] NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Agency] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_Agency] UNIQUE NONCLUSTERED 
(
	[AgencyTenantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgencyAddress]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgencyAddress](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AgencyId] [int] NOT NULL,
	[AddressTypeId] [int] NOT NULL,
	[Address1] [nvarchar](150) NOT NULL,
	[Address2] [nvarchar](150) NULL,
	[City] [nvarchar](150) NOT NULL,
	[CountyId] [int] NULL,
	[StateId] [int] NOT NULL,
	[CountryId] [int] NULL,
	[ZipCode] [nvarchar](15) NOT NULL,
	[IsPayToAddress] [bit] NOT NULL,
	[IsReturnAddress] [bit] NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AgencyAddress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_AgencyAddress] UNIQUE NONCLUSTERED 
(
	[AgencyId] ASC,
	[AddressTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgencyAttachments]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgencyAttachments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AgencyId] [int] NOT NULL,
	[AgencyNoteId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Path] [nvarchar](255) NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AgencyAttachments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgencyEmail]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgencyEmail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AgencyId] [int] NOT NULL,
	[EmailTypeId] [int] NOT NULL,
	[EmailAddress] [nvarchar](255) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AgencyEmail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgencyFiles]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgencyFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AgencyId] [int] NOT NULL,
	[stream_id] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[FileTypeId] [int] NOT NULL,
	[ProcessedDate] [datetime] NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AgencyFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgencyNotes]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgencyNotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AgencyId] [int] NOT NULL,
	[Note] [nvarchar](255) NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AgencyNotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgencyNumber]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgencyNumber](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AgencyId] [int] NOT NULL,
	[Number] [nvarchar](50) NOT NULL,
	[IgnoreTimeStamps] [bit] NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AgencyNumber] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgencyPhone]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgencyPhone](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AgencyId] [int] NOT NULL,
	[PhoneTypeId] [int] NOT NULL,
	[PhoneNumber] [bigint] NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AgencyPhone] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgencyUser]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgencyUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AgencyId] [int] NOT NULL,
	[AspNetUserId] [nvarchar](128) NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AgencyUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_AgencyUser] UNIQUE NONCLUSTERED 
(
	[AgencyId] ASC,
	[AspNetUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationLog]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Severity] [nvarchar](255) NULL,
	[Logger] [nvarchar](255) NULL,
	[Message] [nvarchar](max) NOT NULL,
	[LogDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Logging] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationSettings]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SettingTypeId] [int] NOT NULL,
	[SettingKey] [nvarchar](50) NOT NULL,
	[SettingValue] [nvarchar](255) NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ApplicationSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Iso] [char](2) NOT NULL,
	[Name] [nvarchar](80) NOT NULL,
	[NiceName] [nvarchar](80) NOT NULL,
	[Iso3] [char](3) NULL,
	[NumCode] [smallint] NULL,
	[PhoneCode] [int] NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[County]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[County](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StateId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[GNIS] [nvarchar](50) NOT NULL,
	[FIPS_STCTY] [nvarchar](50) NOT NULL,
	[FIPS] [nvarchar](50) NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_County] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_County] UNIQUE NONCLUSTERED 
(
	[StateId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_County_FIPS] UNIQUE NONCLUSTERED 
(
	[FIPS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_County_FIPS_STCTY] UNIQUE NONCLUSTERED 
(
	[FIPS_STCTY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_County_GNIS] UNIQUE NONCLUSTERED 
(
	[GNIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailType]    Script Date: 2/20/2018 9:47:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_EmailType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileType]    Script Date: 2/20/2018 9:47:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_FileType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneType]    Script Date: 2/20/2018 9:47:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_PhoneType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SettingType]    Script Date: 2/20/2018 9:47:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SettingType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_SettingType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State]    Script Date: 2/20/2018 9:47:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NOT NULL,
	[Code] [nvarchar](2) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_State_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_State_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_State_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitRoundingType]    Script Date: 2/20/2018 9:47:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitRoundingType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_UnitRoundingType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AddressType] ADD  CONSTRAINT [DF_AddressType_CreateBy]  DEFAULT ('CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[AddressType] ADD  CONSTRAINT [DF_AddressType_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[AddressType] ADD  CONSTRAINT [DF_AddressType_LastModifyBy]  DEFAULT ('CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[AddressType] ADD  CONSTRAINT [DF_AddressType_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[Agency] ADD  CONSTRAINT [DF_Agency_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Agency] ADD  CONSTRAINT [DF_Agency_DisableLifetimeSignature]  DEFAULT ((0)) FOR [DisableLifetimeSignature]
GO
ALTER TABLE [dbo].[Agency] ADD  CONSTRAINT [DF_Agency_UseImageOnStatement]  DEFAULT ((1)) FOR [UseImageOnStatement]
GO
ALTER TABLE [dbo].[Agency] ADD  CONSTRAINT [DF_Agency_CreateBy]  DEFAULT (N'CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[Agency] ADD  CONSTRAINT [DF_Agency_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Agency] ADD  CONSTRAINT [DF_Agency_LastModifyBy]  DEFAULT (N'CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[Agency] ADD  CONSTRAINT [DF_Agency_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[AgencyAddress] ADD  CONSTRAINT [DF_AgencyAddress_IsPayToAddress]  DEFAULT ((0)) FOR [IsPayToAddress]
GO
ALTER TABLE [dbo].[AgencyAddress] ADD  CONSTRAINT [DF_AgencyAddress_IsReturnAddress]  DEFAULT ((0)) FOR [IsReturnAddress]
GO
ALTER TABLE [dbo].[AgencyAddress] ADD  CONSTRAINT [DF_AgencyAddress_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[AgencyAddress] ADD  CONSTRAINT [DF_AgencyAddress_CreateBy]  DEFAULT (N'CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[AgencyAddress] ADD  CONSTRAINT [DF_AgencyAddress_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[AgencyAddress] ADD  CONSTRAINT [DF_AgencyAddress_LastModifyBy]  DEFAULT (N'CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[AgencyAddress] ADD  CONSTRAINT [DF_AgencyAddress_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[AgencyAttachments] ADD  CONSTRAINT [DF_AgencyAttachments_CreateBy]  DEFAULT ('CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[AgencyAttachments] ADD  CONSTRAINT [DF_AgencyAttachments_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[AgencyAttachments] ADD  CONSTRAINT [DF_AgencyAttachments_LastModifyBy]  DEFAULT ('CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[AgencyAttachments] ADD  CONSTRAINT [DF_AgencyAttachments_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[AgencyEmail] ADD  CONSTRAINT [DF_AgencyEmail_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[AgencyEmail] ADD  CONSTRAINT [DF_AgencyEmail_CreateBy]  DEFAULT (N'CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[AgencyEmail] ADD  CONSTRAINT [DF_AgencyEmail_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[AgencyEmail] ADD  CONSTRAINT [DF_AgencyEmail_LastModifyBy]  DEFAULT (N'CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[AgencyEmail] ADD  CONSTRAINT [DF_AgencyEmail_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[AgencyFiles] ADD  CONSTRAINT [DF_AgencyFiles_CreateBy]  DEFAULT ('CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[AgencyFiles] ADD  CONSTRAINT [DF_AgencyFiles_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[AgencyFiles] ADD  CONSTRAINT [DF_AgencyFiles_LastModifyBy]  DEFAULT ('CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[AgencyFiles] ADD  CONSTRAINT [DF_AgencyFiles_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[AgencyNotes] ADD  CONSTRAINT [DF_AgencyNotes_CreateBy]  DEFAULT ('CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[AgencyNotes] ADD  CONSTRAINT [DF_AgencyNotes_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[AgencyNotes] ADD  CONSTRAINT [DF_AgencyNotes_LastModifyBy]  DEFAULT ('CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[AgencyNotes] ADD  CONSTRAINT [DF_AgencyNotes_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[AgencyNumber] ADD  CONSTRAINT [DF_AgencyNumber_IgnoreTimeStamps]  DEFAULT ((0)) FOR [IgnoreTimeStamps]
GO
ALTER TABLE [dbo].[AgencyNumber] ADD  CONSTRAINT [DF_AgencyNumber_CreateBy]  DEFAULT ('CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[AgencyNumber] ADD  CONSTRAINT [DF_AgencyNumber_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[AgencyNumber] ADD  CONSTRAINT [DF_AgencyNumber_LastModifyBy]  DEFAULT ('CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[AgencyNumber] ADD  CONSTRAINT [DF_AgencyNumber_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[AgencyPhone] ADD  CONSTRAINT [DF_AgencyPhone_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[AgencyPhone] ADD  CONSTRAINT [DF_AgencyPhone_CreateBy]  DEFAULT (N'CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[AgencyPhone] ADD  CONSTRAINT [DF_AgencyPhone_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[AgencyPhone] ADD  CONSTRAINT [DF_AgencyPhone_LastModifyBy]  DEFAULT (N'CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[AgencyPhone] ADD  CONSTRAINT [DF_AgencyPhone_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[AgencyUser] ADD  CONSTRAINT [DF_AgencyUser_CreateBy]  DEFAULT (N'CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[AgencyUser] ADD  CONSTRAINT [DF_AgencyUser_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[AgencyUser] ADD  CONSTRAINT [DF_AgencyUser_LastModifyBy]  DEFAULT (N'CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[AgencyUser] ADD  CONSTRAINT [DF_AgencyUser_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[ApplicationSettings] ADD  CONSTRAINT [DF_ApplicationSettings_CreateBy]  DEFAULT ('CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[ApplicationSettings] ADD  CONSTRAINT [DF_ApplicationSettings_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[ApplicationSettings] ADD  CONSTRAINT [DF_ApplicationSettings_LastModifyBy]  DEFAULT ('CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[ApplicationSettings] ADD  CONSTRAINT [DF_ApplicationSettings_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[AspNetRoles] ADD  CONSTRAINT [DF_AspNetRoles_CreateBy]  DEFAULT (N'CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[AspNetRoles] ADD  CONSTRAINT [DF_AspNetRoles_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[AspNetRoles] ADD  CONSTRAINT [DF_AspNetRoles_LastModifyBy]  DEFAULT (N'CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[AspNetRoles] ADD  CONSTRAINT [DF_AspNetRoles_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[AspNetUserClaims] ADD  CONSTRAINT [DF_AspNetUserClaims_CreateBy]  DEFAULT (N'CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[AspNetUserClaims] ADD  CONSTRAINT [DF_AspNetUserClaims_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[AspNetUserClaims] ADD  CONSTRAINT [DF_AspNetUserClaims_LastModifyBy]  DEFAULT (N'CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[AspNetUserClaims] ADD  CONSTRAINT [DF_AspNetUserClaims_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[AspNetUserLogins] ADD  CONSTRAINT [DF_AspNetUserLogins_CreateBy]  DEFAULT (N'CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[AspNetUserLogins] ADD  CONSTRAINT [DF_AspNetUserLogins_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[AspNetUserLogins] ADD  CONSTRAINT [DF_AspNetUserLogins_LastModifyBy]  DEFAULT (N'CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[AspNetUserLogins] ADD  CONSTRAINT [DF_AspNetUserLogins_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[AspNetUserRoles] ADD  CONSTRAINT [DF_AspNetUserRoles_CreateBy]  DEFAULT (N'CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[AspNetUserRoles] ADD  CONSTRAINT [DF_AspNetUserRoles_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[AspNetUserRoles] ADD  CONSTRAINT [DF_AspNetUserRoles_LastModifyBy]  DEFAULT (N'CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[AspNetUserRoles] ADD  CONSTRAINT [DF_AspNetUserRoles_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_AspNetUsers_CreateBy]  DEFAULT (N'CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_AspNetUsers_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_AspNetUsers_LastModifyBy]  DEFAULT (N'CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_AspNetUsers_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF_Country_CreateBy]  DEFAULT ('CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF_Country_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF_Country_LastModifyBy]  DEFAULT ('CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF_Country_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[County] ADD  CONSTRAINT [DF_County_CreateBy]  DEFAULT (N'CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[County] ADD  CONSTRAINT [DF_County_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[County] ADD  CONSTRAINT [DF_County_LastModifyBy]  DEFAULT (N'CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[County] ADD  CONSTRAINT [DF_County_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[EmailType] ADD  CONSTRAINT [DF_EmailType_CreateBy]  DEFAULT ('CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[EmailType] ADD  CONSTRAINT [DF_EmailType_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[EmailType] ADD  CONSTRAINT [DF_EmailType_LastModifyBy]  DEFAULT ('CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[EmailType] ADD  CONSTRAINT [DF_EmailType_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[FileType] ADD  CONSTRAINT [DF_FileType_CreateBy]  DEFAULT ('CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[FileType] ADD  CONSTRAINT [DF_FileType_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[FileType] ADD  CONSTRAINT [DF_FileType_LastModifyBy]  DEFAULT ('CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[FileType] ADD  CONSTRAINT [DF_FileType_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[PhoneType] ADD  CONSTRAINT [DF_PhoneType_CreateBy]  DEFAULT ('CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[PhoneType] ADD  CONSTRAINT [DF_PhoneType_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[PhoneType] ADD  CONSTRAINT [DF_PhoneType_LastModifyBy]  DEFAULT ('CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[PhoneType] ADD  CONSTRAINT [DF_PhoneType_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[SettingType] ADD  CONSTRAINT [DF_SettingType_CreateBy]  DEFAULT ('CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[SettingType] ADD  CONSTRAINT [DF_SettingType_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[SettingType] ADD  CONSTRAINT [DF_SettingType_LastModifyBy]  DEFAULT ('CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[SettingType] ADD  CONSTRAINT [DF_SettingType_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[State] ADD  CONSTRAINT [DF_State_CreateBy]  DEFAULT ('CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[State] ADD  CONSTRAINT [DF_State_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[State] ADD  CONSTRAINT [DF_State_LastModifyBy]  DEFAULT ('CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[State] ADD  CONSTRAINT [DF_State_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[UnitRoundingType] ADD  CONSTRAINT [DF_UnitRoundingType_CreateBy]  DEFAULT ('CDUNCAN') FOR [CreateBy]
GO
ALTER TABLE [dbo].[UnitRoundingType] ADD  CONSTRAINT [DF_UnitRoundingType_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[UnitRoundingType] ADD  CONSTRAINT [DF_UnitRoundingType_LastModifyBy]  DEFAULT ('CDUNCAN') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[UnitRoundingType] ADD  CONSTRAINT [DF_UnitRoundingType_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[Agency]  WITH CHECK ADD  CONSTRAINT [FK_Agency_Agency] FOREIGN KEY([ParentAgencyId])
REFERENCES [dbo].[Agency] ([Id])
GO
ALTER TABLE [dbo].[Agency] CHECK CONSTRAINT [FK_Agency_Agency]
GO
ALTER TABLE [dbo].[AgencyAddress]  WITH CHECK ADD  CONSTRAINT [FK_AgencyAddress_AddressType] FOREIGN KEY([AddressTypeId])
REFERENCES [dbo].[AddressType] ([Id])
GO
ALTER TABLE [dbo].[AgencyAddress] CHECK CONSTRAINT [FK_AgencyAddress_AddressType]
GO
ALTER TABLE [dbo].[AgencyAddress]  WITH CHECK ADD  CONSTRAINT [FK_AgencyAddress_Agency] FOREIGN KEY([AgencyId])
REFERENCES [dbo].[Agency] ([Id])
GO
ALTER TABLE [dbo].[AgencyAddress] CHECK CONSTRAINT [FK_AgencyAddress_Agency]
GO
ALTER TABLE [dbo].[AgencyAddress]  WITH CHECK ADD  CONSTRAINT [FK_AgencyAddress_Country] FOREIGN KEY([CountyId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[AgencyAddress] CHECK CONSTRAINT [FK_AgencyAddress_Country]
GO
ALTER TABLE [dbo].[AgencyAddress]  WITH CHECK ADD  CONSTRAINT [FK_AgencyAddress_County] FOREIGN KEY([CountyId])
REFERENCES [dbo].[County] ([Id])
GO
ALTER TABLE [dbo].[AgencyAddress] CHECK CONSTRAINT [FK_AgencyAddress_County]
GO
ALTER TABLE [dbo].[AgencyAddress]  WITH CHECK ADD  CONSTRAINT [FK_AgencyAddress_State] FOREIGN KEY([StateId])
REFERENCES [dbo].[State] ([Id])
GO
ALTER TABLE [dbo].[AgencyAddress] CHECK CONSTRAINT [FK_AgencyAddress_State]
GO
ALTER TABLE [dbo].[AgencyAttachments]  WITH CHECK ADD  CONSTRAINT [FK_AgencyAttachments_Agency] FOREIGN KEY([AgencyId])
REFERENCES [dbo].[Agency] ([Id])
GO
ALTER TABLE [dbo].[AgencyAttachments] CHECK CONSTRAINT [FK_AgencyAttachments_Agency]
GO
ALTER TABLE [dbo].[AgencyAttachments]  WITH CHECK ADD  CONSTRAINT [FK_AgencyAttachments_AgencyNotes] FOREIGN KEY([AgencyNoteId])
REFERENCES [dbo].[AgencyNotes] ([Id])
GO
ALTER TABLE [dbo].[AgencyAttachments] CHECK CONSTRAINT [FK_AgencyAttachments_AgencyNotes]
GO
ALTER TABLE [dbo].[AgencyEmail]  WITH CHECK ADD  CONSTRAINT [FK_AgencyEmail_Agency] FOREIGN KEY([AgencyId])
REFERENCES [dbo].[Agency] ([Id])
GO
ALTER TABLE [dbo].[AgencyEmail] CHECK CONSTRAINT [FK_AgencyEmail_Agency]
GO
ALTER TABLE [dbo].[AgencyEmail]  WITH CHECK ADD  CONSTRAINT [FK_AgencyEmail_EmailType] FOREIGN KEY([EmailTypeId])
REFERENCES [dbo].[EmailType] ([Id])
GO
ALTER TABLE [dbo].[AgencyEmail] CHECK CONSTRAINT [FK_AgencyEmail_EmailType]
GO
ALTER TABLE [dbo].[AgencyFiles]  WITH CHECK ADD  CONSTRAINT [FK_AgencyFiles_Agency] FOREIGN KEY([AgencyId])
REFERENCES [dbo].[Agency] ([Id])
GO
ALTER TABLE [dbo].[AgencyFiles] CHECK CONSTRAINT [FK_AgencyFiles_Agency]
GO
ALTER TABLE [dbo].[AgencyFiles]  WITH CHECK ADD  CONSTRAINT [FK_AgencyFiles_FileType] FOREIGN KEY([FileTypeId])
REFERENCES [dbo].[FileType] ([Id])
GO
ALTER TABLE [dbo].[AgencyFiles] CHECK CONSTRAINT [FK_AgencyFiles_FileType]
GO
ALTER TABLE [dbo].[AgencyNotes]  WITH CHECK ADD  CONSTRAINT [FK_AgencyNotes_Agency] FOREIGN KEY([AgencyId])
REFERENCES [dbo].[Agency] ([Id])
GO
ALTER TABLE [dbo].[AgencyNotes] CHECK CONSTRAINT [FK_AgencyNotes_Agency]
GO
ALTER TABLE [dbo].[AgencyNumber]  WITH CHECK ADD  CONSTRAINT [FK_AgencyNumber_Agency] FOREIGN KEY([AgencyId])
REFERENCES [dbo].[Agency] ([Id])
GO
ALTER TABLE [dbo].[AgencyNumber] CHECK CONSTRAINT [FK_AgencyNumber_Agency]
GO
ALTER TABLE [dbo].[AgencyPhone]  WITH CHECK ADD  CONSTRAINT [FK_AgencyPhone_Agency] FOREIGN KEY([AgencyId])
REFERENCES [dbo].[Agency] ([Id])
GO
ALTER TABLE [dbo].[AgencyPhone] CHECK CONSTRAINT [FK_AgencyPhone_Agency]
GO
ALTER TABLE [dbo].[AgencyPhone]  WITH CHECK ADD  CONSTRAINT [FK_AgencyPhone_PhoneType] FOREIGN KEY([PhoneTypeId])
REFERENCES [dbo].[PhoneType] ([Id])
GO
ALTER TABLE [dbo].[AgencyPhone] CHECK CONSTRAINT [FK_AgencyPhone_PhoneType]
GO
ALTER TABLE [dbo].[AgencyUser]  WITH CHECK ADD  CONSTRAINT [FK_AgencyUser_Agency] FOREIGN KEY([AgencyId])
REFERENCES [dbo].[Agency] ([Id])
GO
ALTER TABLE [dbo].[AgencyUser] CHECK CONSTRAINT [FK_AgencyUser_Agency]
GO
ALTER TABLE [dbo].[AgencyUser]  WITH CHECK ADD  CONSTRAINT [FK_AgencyUser_AspNetUsers] FOREIGN KEY([AspNetUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AgencyUser] CHECK CONSTRAINT [FK_AgencyUser_AspNetUsers]
GO
ALTER TABLE [dbo].[ApplicationSettings]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationSettings_SettingType] FOREIGN KEY([SettingTypeId])
REFERENCES [dbo].[SettingType] ([Id])
GO
ALTER TABLE [dbo].[ApplicationSettings] CHECK CONSTRAINT [FK_ApplicationSettings_SettingType]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[County]  WITH CHECK ADD  CONSTRAINT [FK_County_State] FOREIGN KEY([StateId])
REFERENCES [dbo].[State] ([Id])
GO
ALTER TABLE [dbo].[County] CHECK CONSTRAINT [FK_County_State]
GO
ALTER TABLE [dbo].[State]  WITH CHECK ADD  CONSTRAINT [FK_State_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[State] CHECK CONSTRAINT [FK_State_Country]
GO
/****** Object:  StoredProcedure [dbo].[CreateDirectory]    Script Date: 2/20/2018 9:47:42 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[CreateDirectory]
	@table [nvarchar](100),
	@path [nvarchar](400),
	@id [nvarchar](max) OUTPUT
WITH EXECUTE AS CALLER
AS
EXTERNAL NAME [FileTableFramework].[CD.ClaimSoft.Database.FileTable.FileTableExtensions].[CreateDirectory]
GO
/****** Object:  StoredProcedure [dbo].[CreateFile]    Script Date: 2/20/2018 9:47:42 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[CreateFile]
	@table [nvarchar](100),
	@file [nvarchar](400),
	@data [varbinary](max),
	@id [uniqueidentifier] OUTPUT
WITH EXECUTE AS CALLER
AS
EXTERNAL NAME [FileTableFramework].[CD.ClaimSoft.Database.FileTable.FileTableExtensions].[CreateFile]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Agency Tenant Id used for application/data security.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Agency', @level2type=N'COLUMN',@level2name=N'AgencyTenantId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NEMSIS V2 - D01' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Agency'
GO
USE [master]
GO
