SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgencyAddress](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AgencyId] [int] NOT NULL,
	[AddressTypeId] [int] NOT NULL,
	[Address1] [nvarchar](150) NOT NULL,
	[Address2] [nvarchar](150) NULL,
	[City] [nvarchar](150) NOT NULL,
	[CountyId] [int] NULL,
	[StateId] [int] NOT NULL,
	[CountryId] [int] NULL,
	[ZipCode] [nvarchar](15) NOT NULL,
	[IsPayToAddress] [bit] NOT NULL,
	[IsReturnAddress] [bit] NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](50) NOT NULL,
	[LastModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AgencyAddress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_AgencyAddress] UNIQUE NONCLUSTERED 
(
	[AgencyId] ASC,
	[AddressTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO