<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="MainLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="App_Data/Logs/ClaimSoft_Application.log" />
    <appendToFile value="true" />
    <maximumFileSize value="100KB" />
    <maxSizeRollBackups value="5" />
    <encoding value="utf-8" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level  [%thread] %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="SqlFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="App_Data/Logs/ClaimSoft_SQL.log" />
    <appendToFile value="true" />
    <maximumFileSize value="100KB" />
    <maxSizeRollBackups value="5" />
    <encoding value="utf-8" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level  [%thread] %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level  [%thread] %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
    <param name="ApplicationName" value="DevOpsPortal" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level  [%threads] %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionStringName value="DevOpsMaster" />
    <commandText value="INSERT INTO dbo.ApplicationLog ([Severity],[Logger],[Message],[LogDate]) VALUES (@severity, @logger, @message, @logdate)" />
    <parameter>
      <parameterName value="@logdate" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@severity" />
      <dbType value="String" />
      <size value="128" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="80000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="MainLogFileAppender" />
    <appender-ref ref="TraceAppender" />
    <!--<appender-ref ref="EventLogAppender" />-->
    <!--<appender-ref ref="AdoNetAppender" />-->
  </root>

  <logger name="EntityFramework.SQL" additivity="false">
    <level value="OFF" />
    <appender-ref ref="SqlFileAppender" />
  </logger>
</log4net>
