USE [cdTestDB]
GO

--DECLARE	@return_value int

--EXEC	@return_value = [dbo].[ProcessNemsisFile]
--		@FileName = N'emsCXB_LogicalBillingSolutionsInc_180217x53964485.xml',
--		@StreamId = '033c40a5-9c91-e811-ab23-cc3d8237abc6',
--		@UserId = N'c68f317b-a706-4610-80b8-aa24d818c2d7',
--		@AgencyId = 2

--GO



--SELECT * FROM [cdTestDB].[dbo].[PCRMiscellaneous]
--SELECT * FROM [cdTestDB].[dbo].[PCRMiscellaneousPatientIndicationCriteriaRegistry]
--SELECT * FROM [cdTestDB].[dbo].[PCRMiscellaneousProtectiveEquipmentUsed]
--SELECT * FROM [cdTestDB].[dbo].[PCRMiscellaneousSuspicionMultiCasualtyDomesticTerrorism]
--SELECT * FROM [cdTestDB].[dbo].[PCRMiscellaneousTypeExposureBodilyFluids]
--SELECT * FROM [cdTestDB].[dbo].[PCRMiscellaneousPersonnelExposedFluids]
--SELECT * FROM [cdTestDB].[dbo].[PCRMiscellaneousLocalAgencyResearchField]
--SELECT * FROM [cdTestDB].[dbo].[PCROutcomeLinkage]
--SELECT * FROM [cdTestDB].[dbo].[PCRMedicalDeviceData]
--SELECT * FROM [cdTestDB].[dbo].[PCRDisposition]
--SELECT * FROM [cdTestDB].[dbo].[PCRInterventionProceduresPerformed]
--SELECT * FROM [cdTestDB].[dbo].[PCRInterventionProceduresPerformedComplications]
--SELECT * FROM [cdTestDB].[dbo].[PCRInterventionProceduresPerformedSuccessfulIVSite]
--SELECT * FROM [cdTestDB].[dbo].[PCRInterventionProceduresPerformedTubeConfirmation]
--SELECT * FROM [cdTestDB].[dbo].[PCRInterventionProceduresPerformedTubePlacement]
--SELECT * FROM [cdTestDB].[dbo].[PCRInterventionMedicationComplications]
--SELECT * FROM [cdTestDB].[dbo].[PCRInterventionMedications]
--SELECT * FROM [cdTestDB].[dbo].[PCRIntervention]
--SELECT * FROM [cdTestDB].[dbo].[PCRVitalSignsAssessment]
--SELECT * FROM [cdTestDB].[dbo].[PCRVitalSignsAssessmentInitialCardiacRhythm]
--SELECT * FROM [cdTestDB].[dbo].[PCRNarrative] 
--SELECT * FROM [cdTestDB].[dbo].[PCRMedicalHistory]
--SELECT * FROM [cdTestDB].[dbo].[PCRMedicalHistoryAlcoholDrugIndicators]
--SELECT * FROM [cdTestDB].[dbo].[PCRMedicalHistoryAllergies]
--SELECT * FROM [cdTestDB].[dbo].[PCRMedicalHistoryCurrentMedication]
--SELECT * FROM [cdTestDB].[dbo].[PCRMedicalHistoryImmunizationDetails]
--SELECT * FROM [cdTestDB].[dbo].[PCRMedicalHistoryLivingWill]
--SELECT * FROM [cdTestDB].[dbo].[PCRMedicalHistoryMedicationAllergies]
--SELECT * FROM [cdTestDB].[dbo].[PCRMedicalHistoryPatientBarriers]
--SELECT * FROM [cdTestDB].[dbo].[PCRMedicalHistoryPreexistingMedicalSurgery]
--SELECT * FROM [cdTestDB].[dbo].[PCRCPR]
--SELECT * FROM [cdTestDB].[dbo].[PCRCPRCardiacRhythmDelivery]
--SELECT * FROM [cdTestDB].[dbo].[PCRCPRIndicationAttemptResuscitate]
--SELECT * FROM [cdTestDB].[dbo].[PCRTrauma] 
--SELECT * FROM [cdTestDB].[dbo].[PCRTraumaAirbagDeployment] 
--SELECT * FROM [cdTestDB].[dbo].[PCRTraumaInjuryMechanism] 
--SELECT * FROM [cdTestDB].[dbo].[PCRTraumaOccupantSafetyEquipment] 
--SELECT * FROM [cdTestDB].[dbo].[PCRTraumaRiskFactorPredictors] 
--SELECT * FROM [cdTestDB].[dbo].[PCRTraumaVehicleImpactLocation]
--SELECT * FROM [cdTestDB].[dbo].[PCRSituation] 
--SELECT * FROM [cdTestDB].[dbo].[PCRSituationOtherSymptoms]
--SELECT * FROM [cdTestDB].[dbo].[PCRSituationPriorAid]
--SELECT * FROM [cdTestDB].[dbo].[PCRSituationPriorAidPerformedBy]
--SELECT * FROM [cdTestDB].[dbo].[PCRScene]
--SELECT * FROM [cdTestDB].[dbo].[PCRSceneOtherEMSAgencies]
--SELECT * FROM [cdTestDB].[dbo].[PCRSceneOtherServices]
--SELECT * FROM [cdTestDB].[dbo].[PCRBilling]
--SELECT * FROM [cdTestDB].[dbo].[PCRBillingInsurance]
--SELECT * FROM [cdTestDB].[dbo].[PCRBillingConditionCodes]
--SELECT * FROM [cdTestDB].[dbo].[PCRBillingConditionCodesModifier]
--SELECT * FROM [cdTestDB].[dbo].[PCRPatient]
--SELECT * FROM [cdTestDB].[dbo].[PCRTimes]
--SELECT * FROM [cdTestDB].[dbo].[PCRUnitPersonnel]
--SELECT * FROM [cdTestDB].[dbo].[PCRUnitCall]
--SELECT * FROM [cdTestDB].[dbo].[PCRHeader]
--SELECT * FROM [cdTestDB].[dbo].[PatientCareReport]
--SELECT * FROM [cdTestDB].[dbo].[PCRUnitAgency]
--SELECT * FROM [cdTestDB].[dbo].[PCRUnitAgencyDispatchDelays]
--SELECT * FROM [cdTestDB].[dbo].[PCRUnitAgencyResponseDelays]
--SELECT * FROM [cdTestDB].[dbo].[PCRUnitAgencySceneDelays]
--SELECT * FROM [cdTestDB].[dbo].[PCRUnitAgencyTransportDelays]
--SELECT * FROM [cdTestDB].[dbo].[PCRUnitAgencyTurnAroundDelays]
--SELECT * FROM [cdTestDB].[dbo].[FileImport]
--SELECT * FROM [cdTestDB].[dbo].[FileImportRecords]

DELETE FROM [cdTestDB].[dbo].[_AgencyImport]
DELETE FROM [cdTestDB].[dbo].[AgencyFiles]

DELETE FROM [cdTestDB].[dbo].[PCRMiscellaneousPatientIndicationCriteriaRegistry]
DELETE FROM [cdTestDB].[dbo].[PCRMiscellaneousProtectiveEquipmentUsed]
DELETE FROM [cdTestDB].[dbo].[PCRMiscellaneousSuspicionMultiCasualtyDomesticTerrorism]
DELETE FROM [cdTestDB].[dbo].[PCRMiscellaneousTypeExposureBodilyFluids]
DELETE FROM [cdTestDB].[dbo].[PCRMiscellaneousPersonnelExposedFluids]
DELETE FROM [cdTestDB].[dbo].[PCRMiscellaneousLocalAgencyResearchField]
DELETE FROM [cdTestDB].[dbo].[PCRMiscellaneous]
DELETE FROM [cdTestDB].[dbo].[PCROutcomeLinkage]
DELETE FROM [cdTestDB].[dbo].[PCRMedicalDeviceData]
DELETE FROM [cdTestDB].[dbo].[PCRDisposition]
DELETE FROM [cdTestDB].[dbo].[PCRInterventionProceduresPerformedComplications]
DELETE FROM [cdTestDB].[dbo].[PCRInterventionProceduresPerformedSuccessfulIVSite]
DELETE FROM [cdTestDB].[dbo].[PCRInterventionProceduresPerformedTubeConfirmation]
DELETE FROM [cdTestDB].[dbo].[PCRInterventionProceduresPerformedTubePlacement]
DELETE FROM [cdTestDB].[dbo].[PCRInterventionProceduresPerformed]
DELETE FROM [cdTestDB].[dbo].[PCRInterventionMedicationComplications]
DELETE FROM [cdTestDB].[dbo].[PCRInterventionMedications]
DELETE FROM [cdTestDB].[dbo].[PCRIntervention]
DELETE FROM [cdTestDB].[dbo].[PCRVitalSignsAssessment]
DELETE FROM [cdTestDB].[dbo].[PCRVitalSignsAssessmentInitialCardiacRhythm] 
DELETE FROM [cdTestDB].[dbo].[PCRNarrative] 
DELETE FROM [cdTestDB].[dbo].[PCRMedicalHistory]
DELETE FROM [cdTestDB].[dbo].[PCRMedicalHistoryAlcoholDrugIndicators]
DELETE FROM [cdTestDB].[dbo].[PCRMedicalHistoryAllergies]
DELETE FROM [cdTestDB].[dbo].[PCRMedicalHistoryCurrentMedication]
DELETE FROM [cdTestDB].[dbo].[PCRMedicalHistoryImmunizationDetails]
DELETE FROM [cdTestDB].[dbo].[PCRMedicalHistoryLivingWill]
DELETE FROM [cdTestDB].[dbo].[PCRMedicalHistoryMedicationAllergies]
DELETE FROM [cdTestDB].[dbo].[PCRMedicalHistoryPatientBarriers]
DELETE FROM [cdTestDB].[dbo].[PCRMedicalHistoryPreexistingMedicalSurgery]
DELETE FROM [cdTestDB].[dbo].[PCRCPR]
DELETE FROM [cdTestDB].[dbo].[PCRCPRCardiacRhythmDelivery]
DELETE FROM [cdTestDB].[dbo].[PCRCPRIndicationAttemptResuscitate]
DELETE FROM [cdTestDB].[dbo].[PCRTrauma] 
DELETE FROM [cdTestDB].[dbo].[PCRTraumaAirbagDeployment] 
DELETE FROM [cdTestDB].[dbo].[PCRTraumaInjuryMechanism] 
DELETE FROM [cdTestDB].[dbo].[PCRTraumaOccupantSafetyEquipment] 
DELETE FROM [cdTestDB].[dbo].[PCRTraumaRiskFactorPredictors] 
DELETE FROM [cdTestDB].[dbo].[PCRTraumaVehicleImpactLocation] 
DELETE FROM [cdTestDB].[dbo].[PCRSituation]
DELETE FROM [cdTestDB].[dbo].[PCRSituationOtherSymptoms]
DELETE FROM [cdTestDB].[dbo].[PCRSituationPriorAid]
DELETE FROM [cdTestDB].[dbo].[PCRSituationPriorAidPerformedBy]
DELETE FROM [cdTestDB].[dbo].[PCRScene]
DELETE FROM [cdTestDB].[dbo].[PCRSceneOtherEMSAgencies]
DELETE FROM [cdTestDB].[dbo].[PCRSceneOtherServices]
DELETE FROM [cdTestDB].[dbo].[PCRBilling]
DELETE FROM [cdTestDB].[dbo].[PCRBillingInsurance]
DELETE FROM [cdTestDB].[dbo].[PCRBillingConditionCodes]
DELETE FROM [cdTestDB].[dbo].[PCRBillingConditionCodesModifier]
DELETE FROM [cdTestDB].[dbo].[PCRPatient]
DELETE FROM [cdTestDB].[dbo].[PCRTimes]
DELETE FROM [cdTestDB].[dbo].[PCRUnitPersonnel]
DELETE FROM [cdTestDB].[dbo].[PCRUnitCall]
DELETE FROM [cdTestDB].[dbo].[PCRUnitAgency]
DELETE FROM [cdTestDB].[dbo].[PCRUnitAgencyDispatchDelays]
DELETE FROM [cdTestDB].[dbo].[PCRUnitAgencyResponseDelays]
DELETE FROM [cdTestDB].[dbo].[PCRUnitAgencySceneDelays]
DELETE FROM [cdTestDB].[dbo].[PCRUnitAgencyTransportDelays]
DELETE FROM [cdTestDB].[dbo].[PCRUnitAgencyTurnAroundDelays]
DELETE FROM [cdTestDB].[dbo].[PatientCareReport]
DELETE FROM [cdTestDB].[dbo].[PCRHeader]
DELETE FROM [cdTestDB].[dbo].[FileImportRecords]
DELETE FROM [cdTestDB].[dbo].[FileImport]


--SELECT * FROM [cdTestDB].[dbo].[PatientCareReport]

--DELETE FROM [cdTestDB].[dbo].[PatientCareReport]

--DELETE FROM [dbo].[PCRHeader]

--SELECT * FROM [cdTestDB].[dbo].[ApplicationLog]
DELETE FROM [cdTestDB].[dbo].[ApplicationLog]

