/*
Created		07/10/2005
Modified	07/10/2005
Project		EMS National Dataset (DEMOGRAPHIC)
Author		WesBowden
Database	MS SQL 2000 

Description:

This SQL script was created by Wes Bowden for DEMOGRAPHIC in order to
generate a basic transactional oriented database schema for MS SQL
that meets the minimum requirements for storing the EMS National
Dataset Data Elements included in the DEMOGRAPHIC XSDs. This schema is
relational and built with constraints related to valid data values.
This script WILL NOT generate an application capable of collecting
the pre-hospital care ambulance run data although it certainly can
be used in conjunction with such an application; nor will this
script be able to import properly formatted XML files into the
schema. To parse XML into this schema you must use an associated
XSLT or parser application.

	Naming Convention
	 * Table Name = Element Group (eg E01)
	 * Sub Table Name Single Field One to Many Relationship = Column Name (eg E07_37)
	 * Sub Table Name Multiple Fields = Element Tag (eg E07_03_0)
	 * Column Name = Element Designation (eg E01_01)
	 * Constraint Name: Type_Field
		CMI = Constraint Minimum; CEN = Constraint Entry; CP = Constraint Property;
		CMM = Constraint Minumum Maximum Range
	Design
	 * Designed to support basic mapping of the XSDs into a Microsoft SQL database schema
	 * In general each E Code Section gets its own table
	 * Subtables of an E Code Section are created to support 0 to many relationships
	 * Subtables of an E Code Section are also create to support large optional data groupings
	 * Subtables of an E Code Section or Data Element requiring excesive 1 to many relationsihps
	   may be configured in second normal form to prevent excesive subtable creation
	 * Fields to support table relationships are added, due to the limited hierarchical
	   relationships and lack of dependence among data elements as strongly defined in the
	   in the XSDs; most tables link directly to the root record table.
	 * In accordance with best practices for tables; an arbitrary primary key is added to
	   those tables which have 0 to many relationships. However, they will likely have a
	   clustered index in relation to the foreign key rather than the primary key.

		Sample relationship design:

		|>>>>>>	OriginDemographicTable
		|	  -> ODT_ID (primary key)
		|	  -> ODT_Info (data)
		|
		|>>>>>>>>>>>	MainRecordTable
			|	  -> MRT_ID (primary key)
			|	  -> fk_ODT_ID (foreign key)
			|	  -> MRT_Info (data)
			|
			|>>>>>>>>>>>>>	SectionTableSingleInstance
			|		  -> pk_MRT_ID (primary key - clustered index)
			|		  -> STSI_Info (data)
			|
			|>>>>>>>>>>>>>	SectionTableMultipleInstance
			|		  -> STMI_ID (primary key)
			|		  -> fk_MRT_ID (foreign key - clustered index)
			|		  -> STMI_Info (data)
			|
			|>>>>>>>>>>>>>	SectionTableWithSubSection
				|	  -> STWSS_ID (primary key)
				|	  -> fk_MRT_ID (foreign key - clustered index)
				|	  -> STWSS_Info (data)
				|
				|>>>>>>>>>>>>	SubSectioTableSingleInstance
				|		  -> pk_STWSS_ID (primary key - clustered index)
				|		  -> SSTSI_Info (data)
				|
				|>>>>>>>>>>>>	SubSectioTableMultipleInstance
				|		  -> STWSS_ID (primary key)
				|		  -> fk_STWSS_ID (foreign key - clustered index)
				|		  -> SSTSI_Info (data)
				
*/

--USE [cdTestDB];

--/* Agency General Information */

--CREATE TABLE [dbo].[Agency]
--(
--    [Id] INT IDENTITY(1, 1) NOT NULL,          -- Agency Primary Key
--    [AgencyTenantId] [NVARCHAR](128) NOT NULL, -- Agency Tenant Id used for application/data security.
--    [AgencyNumber] VARCHAR(15) NOT NULL,       -- Agency Number
--    [AgencyName] VARCHAR(100) NOT NULL,        -- Agency Name
--    [PrimaryServiceType] INT NULL,             -- D01_05
--    [LevelOfService] VARCHAR(30) NOT NULL,     -- D01_07
--    [OrganizationType] INT NOT NULL,           -- D01_08
--    [OrganizationStatus] INT NOT NULL,         -- D01_09
--    [TimeZone] INT NULL,                       -- D01_19
--    [DaylightSavings] INT NULL,                -- D01_20
--    [NationalProviderId] VARCHAR(10) NOT NULL, -- D01_21
--    [IsActive] [BIT] NOT NULL,
--    [InactiveDate] [DATETIME] NULL,
--    [ParentAgencyId] [INT] NULL,
--    [WebSite] [NVARCHAR](250) NULL,
--    [ContactName] [NVARCHAR](250) NOT NULL,
--    [TaxIdNumber] [INT] NULL,
--    [Taxonomy] [NVARCHAR](50) NULL,
--    [DisableLifetimeSignature] [BIT] NOT NULL,
--    [LogoFileName] [NVARCHAR](50) NULL,
--    [LogoStreamId] [NVARCHAR](128) NULL,
--    [UseImageOnStatement] [BIT] NULL,
--    [CreateBy] [NVARCHAR](50) NOT NULL,
--    [CreateDate] [DATETIME] NOT NULL,
--    [LastModifyBy] [NVARCHAR](50) NOT NULL,
--    [LastModifyDate] [DATETIME] NOT NULL
--);
--GO

--ALTER TABLE [dbo].[Agency]
--ADD CONSTRAINT [DF_Agency_IsActive]
--    DEFAULT ((1)) FOR [IsActive];
--GO

--ALTER TABLE [dbo].[Agency]
--ADD CONSTRAINT [DF_Agency_DisableLifetimeSignature]
--    DEFAULT ((0)) FOR [DisableLifetimeSignature];
--GO

--ALTER TABLE [dbo].[Agency]
--ADD CONSTRAINT [DF_Agency_UseImageOnStatement]
--    DEFAULT ((1)) FOR [UseImageOnStatement];
--GO

--ALTER TABLE [dbo].[Agency]
--ADD CONSTRAINT [DF_Agency_CreateBy]
--    DEFAULT (N'CDUNCAN') FOR [CreateBy];
--GO

--ALTER TABLE [dbo].[Agency]
--ADD CONSTRAINT [DF_Agency_CreateDate]
--    DEFAULT (GETDATE()) FOR [CreateDate];
--GO

--ALTER TABLE [dbo].[Agency]
--ADD CONSTRAINT [DF_Agency_LastModifyBy]
--    DEFAULT (N'CDUNCAN') FOR [LastModifyBy];
--GO

--ALTER TABLE [dbo].[Agency]
--ADD CONSTRAINT [DF_Agency_LastModifyDate]
--    DEFAULT (GETDATE()) FOR [LastModifyDate];
--GO


--EXEC sys.sp_addextendedproperty @name = N'MS_Description',
--                                @value = N'Agency Primary Key.',
--                                @level0type = N'SCHEMA',
--                                @level0name = N'dbo',
--                                @level1type = N'TABLE',
--                                @level1name = N'Agency',
--                                @level2type = N'COLUMN',
--                                @level2name = N'Id';
--GO

--EXEC sys.sp_addextendedproperty @name = N'MS_Description',
--                                @value = N'Agency Tenant Id used for application/data security.',
--                                @level0type = N'SCHEMA',
--                                @level0name = N'dbo',
--                                @level1type = N'TABLE',
--                                @level1name = N'Agency',
--                                @level2type = N'COLUMN',
--                                @level2name = N'AgencyTenantId';
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_01 Element - The state-assigned provider number of the agency',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'Agency',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'AgencyNumber';
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_02 Element - The name of the agency',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'Agency',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'AgencyName';
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_05 Element - The agency primary service type',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'Agency',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'PrimaryServiceType';
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_07 Element - The agency level of service',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'Agency',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'LevelOfService';
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_08 Element - The agency organization type',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'Agency',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'OrganizationType';
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_09 Element - The agency organization status',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'Agency',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'OrganizationStatus';
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_19 Element - The agency time zone',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'Agency',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'TimeZone';
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_20 Element - The agency daylight savings setting',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'Agency',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'DaylightSavings';
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_21 Element - The agency national provider ID',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'Agency',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'NationalProviderId';
--GO

--EXEC sys.sp_addextendedproperty @name = N'MS_Description',
--                                @value = N'NEMSIS V2 - D01',
--                                @level0type = N'SCHEMA',
--                                @level0name = N'dbo',
--                                @level1type = N'TABLE',
--                                @level1name = N'Agency';
--GO


--/* Agency State Information */

--CREATE TABLE [dbo].[AgencyState]
--(
--    [Id] INT IDENTITY(1, 1) NOT NULL,
--    [AgencyId] INT NOT NULL,     -- Primary Key to Agency
--    [State] CHAR(2) NOT NULL, -- D01_03
--    [Status] CHAR(1) NOT NULL,
--    [CreateBy] [NVARCHAR](50) NOT NULL,
--    [CreateDate] [DATETIME] NOT NULL,
--    [LastModifyBy] [NVARCHAR](50) NOT NULL,
--    [LastModifyDate] [DATETIME] NOT NULL
--);
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_03 Element - The agency state',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'AgencyState',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'State';
--GO

--EXEC sys.sp_addextendedproperty @name = N'MS_Description',
--                                @value = N'NEMSIS V2 - D01_03 - Agency State Information',
--                                @level0type = N'SCHEMA',
--                                @level0name = N'dbo',
--                                @level1type = N'TABLE',
--                                @level1name = N'AgencyState';
--GO

--/* Agency County Information */

--CREATE TABLE [dbo].[AgencyCounty]
--(
--    [Id] INT IDENTITY(1, 1) NOT NULL,
--    [AgencyId] INT NOT NULL,        -- Primary Key to Agency
--    [County] VARCHAR(5) NOT NULL, -- Agency County
--    [Status] CHAR(1) NOT NULL,
--    [CreateBy] [NVARCHAR](50) NOT NULL,
--    [CreateDate] [DATETIME] NOT NULL,
--    [LastModifyBy] [NVARCHAR](50) NOT NULL,
--    [LastModifyDate] [DATETIME] NOT NULL
--);
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_04 Element - The agency county',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'AgencyCounty',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'County';
--GO

--EXEC sys.sp_addextendedproperty @name = N'MS_Description',
--                                @value = N'NEMSIS V2 - D01_04 - Agency County Information',
--                                @level0type = N'SCHEMA',
--                                @level0name = N'dbo',
--                                @level1type = N'TABLE',
--                                @level1name = N'AgencyCounty';
--GO

--/* Agency Other Types of Service Information */

--CREATE TABLE [dbo].[AgencyOtherTypesService]
--(
--    [Id] INT IDENTITY(1, 1) NOT NULL,
--    [AgencyId] INT NOT NULL, -- Primary Key to Agency
--    [OtherServiceType] INT NOT NULL, -- Other Types of Service [AgencyOtherTypesService]
--    [Status] CHAR(1) NOT NULL,
--    [CreateBy] [NVARCHAR](50) NOT NULL,
--    [CreateDate] [DATETIME] NOT NULL,
--    [LastModifyBy] [NVARCHAR](50) NOT NULL,
--    [LastModifyDate] [DATETIME] NOT NULL
--);
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_06 Element - Agency Other Types of Service Information',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'AgencyOtherTypesService',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'OtherServiceType';
--GO

--EXEC sys.sp_addextendedproperty @name = N'MS_Description',
--                                @value = N'NEMSIS V2 - D01_06 - Agency Other Types of Service Information',
--                                @level0type = N'SCHEMA',
--                                @level0name = N'dbo',
--                                @level1type = N'TABLE',
--                                @level1name = N'AgencyOtherTypesService';
--GO

--/* Agency Statistical Information */

--CREATE TABLE [dbo].[AgencyStatistics]
--(
--    [Id] INT IDENTITY(1, 1) NOT NULL,
--    [AgencyId] INT NOT NULL, -- Primary Key to Agency
--    [StatisticalYear] INT NOT NULL, -- year
--    [ServiceAreaSize] INT NOT NULL, --service area size
--    [ServiceAreaPopulation] INT NOT NULL, --service area population
--    [CallVolumePerYear] INT NOT NULL, --call volume/year
--    [DispatchYear] INT NOT NULL, --dispatch year
--    [TransportsPerYear] INT NOT NULL, --transports per year
--    [PatientContactsPerYear] INT NOT NULL, -- patient contacts per year
--    [BillableCallsPerYear] INT NULL -- EMS Billable Calls per Year
--); -- billable calls per year
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_10 Element - Statistical Year',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'AgencyStatistics',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'StatisticalYear';
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_12 Element - Total Service Size Area',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'AgencyStatistics',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'ServiceAreaSize';
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_13 Element - Total Service Area Population',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'AgencyStatistics',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'ServiceAreaPopulation';
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_14 Element - The 911 call volume per year',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'AgencyStatistics',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'CallVolumePerYear';
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_15 Element - The EMS dispatch year',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'AgencyStatistics',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'DispatchYear';
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_16 Element - The EMS transports per year',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'AgencyStatistics',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'TransportsPerYear';
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_17 Element - The EMS patient contacts per year',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'AgencyStatistics',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'PatientContactsPerYear';
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_18 Element - The EMS Billable Calls per Year',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'AgencyStatistics',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'BillableCallsPerYear';
--GO

--EXEC sys.sp_addextendedproperty @name = N'MS_Description',
--                                @value = N'NEMSIS V2 - D01_10 - Agency Statistical Information',
--                                @level0type = N'SCHEMA',
--                                @level0name = N'dbo',
--                                @level1type = N'TABLE',
--                                @level1name = N'AgencyStatistics';
--GO

--/* AgencyOtherInformation */

--CREATE TABLE [dbo].[AgencyOtherInformation]
--(
--    [Id] INT IDENTITY(1, 1) NOT NULL,
--    [AgencyId] INT NOT NULL,         -- Primary Key to Agency
--    [OtherAgenciesInArea] VARCHAR(50) NOT NULL, --Other agancies
--    [Status] CHAR(1) NOT NULL,
--    [Created_Date] DATETIME NOT NULL,
--    [Update_Date] DATETIME NOT NULL
--);
--GO

--EXEC [sys].[sp_addextendedproperty] @name = N'MS_Description',
--                                    @value = N'NEMSIS V2 - D01_11 Element - Other Agencies In Area',
--                                    @level0type = N'SCHEMA',
--                                    @level0name = N'dbo',
--                                    @level1type = N'TABLE',
--                                    @level1name = N'AgencyOtherInformation',
--                                    @level2type = N'COLUMN',
--                                    @level2name = N'OtherAgenciesInArea';
--GO

--EXEC sys.sp_addextendedproperty @name = N'MS_Description',
--                                @value = N'NEMSIS V2 - D01_11 - Other Agency Information',
--                                @level0type = N'SCHEMA',
--                                @level0name = N'dbo',
--                                @level1type = N'TABLE',
--                                @level1name = N'AgencyOtherInformation';
--GO

/* Agency Contact Information */

CREATE TABLE [dbo].[D02]
(
    [Id] INT IDENTITY(1, 1) NOT NULL,
    [AgencyId] INT NOT NULL,         -- Primary Key to Agency
    [D02_01] VARCHAR(20) NOT NULL, -- last name
    [D02_02] VARCHAR(20) NULL,     -- middle name
    [D02_03] VARCHAR(20) NOT NULL, -- first name
    [D02_04] VARCHAR(30) NULL,     -- address
    [D02_05] VARCHAR(30) NULL,     -- city
    [D02_06] VARCHAR(3) NULL,      -- state
    [D02_07] VARCHAR(10) NOT NULL, -- zip
    [D02_08] VARCHAR(10) NULL,     -- phone number
    [D02_09] VARCHAR(10) NULL,     -- fax number
    [D02_10] VARCHAR(100) NULL,    -- email address
    [D02_11] VARCHAR(100) NULL,    -- website address
    [Status] CHAR(1) NOT NULL
);
GO

/* Agency Medical Director Information */

CREATE TABLE [dbo].[D03]
(
    [pk_D03] INT IDENTITY(1, 1) NOT NULL,
    [AgencyId] INT NOT NULL,         -- Primary Key to Agency
    [D03_01] VARCHAR(20) NOT NULL, -- last name
    [D03_02] VARCHAR(20) NULL,     -- Middle Name
    [D03_03] VARCHAR(20) NOT NULL, -- First Name
    [D03_04] VARCHAR(30) NULL,     -- Address
    [D03_05] VARCHAR(30) NULL,     -- City
    [D03_06] VARCHAR(3) NULL,      -- State
    [D03_07] VARCHAR(10) NULL,     -- Zip
    [D03_08] VARCHAR(10) NULL,     -- Phone Number
    [D03_09] VARCHAR(10) NULL,     -- Fax Number
    [D03_10] INT NULL,             -- Speciality
    [D03_11] VARCHAR(100) NULL,    -- email
    [Status] CHAR(1) NOT NULL
);
GO



/* Certification Information */

CREATE TABLE [dbo].[D04_01]
(
    [pk_D04_01] INT IDENTITY(1, 1) NOT NULL,
    [AgencyId] INT NOT NULL,         -- Primary Key to Agency
    [D04_01] VARCHAR(30) NOT NULL, -- State Certification levels
    [Status] CHAR(1) NOT NULL
);
GO

/* Call Sign Information */

CREATE TABLE [dbo].[D04_02]
(
    [pk_D04_02] INT IDENTITY(1, 1) NOT NULL,
    [AgencyId] INT NOT NULL,         -- Primary Key to Agency
    [D04_02] VARCHAR(30) NOT NULL, -- Unit Call Sign
    [Status] CHAR(1) NOT NULL
);
GO

/* Zone Information */

CREATE TABLE [dbo].[D04_03]
(
    [pk_D04_03] INT IDENTITY(1, 1) NOT NULL,
    [AgencyId] INT NOT NULL,         -- Primary Key to Agency
    [D04_03] VARCHAR(30) NOT NULL, -- Zones
    [Status] CHAR(1) NOT NULL
);
GO

/* Procedure Information */

CREATE TABLE [dbo].[D04_04]
(
    [pk_D04_04] INT IDENTITY(1, 1) NOT NULL,
    [AgencyId] INT NOT NULL,         -- Primary Key to Agency
    [D04_04] VARCHAR(30) NOT NULL, --Procedures
    [fk_D04_01] INT NULL,          -- State Certification level to perform
    [Status] CHAR(1) NOT NULL
);
GO

/* Medications Information */

CREATE TABLE [dbo].[D04_06]
(
    [pk_D04_06] INT IDENTITY(1, 1) NOT NULL,
    [AgencyId] INT NOT NULL,         -- Primary Key to Agency
    [D04_06] VARCHAR(30) NOT NULL, -- Medication
    [fk_D04_01] INT NULL,          -- State Certification level to perform
    [Status] CHAR(1) NOT NULL
);
GO

/* Protocol Information */

CREATE TABLE [dbo].[D04_08]
(
    [pk_D04_08] INT IDENTITY(1, 1) NOT NULL,
    [AgencyId] INT NOT NULL,         -- Primary Key to Agency
    [D04_08] VARCHAR(30) NOT NULL, --Protocols
    [fk_D04_01] INT NULL,          -- State Certification level to perform
    [Status] CHAR(1) NOT NULL
);
GO

/* Billing Information */

CREATE TABLE [dbo].[D04_10]
(
    [pk_D04_10] INT IDENTITY(1, 1) NOT NULL,
    [AgencyId] INT NOT NULL,         -- Primary Key to Agency
    [D04_10] VARCHAR(30) NOT NULL, -- Billing Status
    [Status] CHAR(1) NOT NULL
);
GO

/* Hospital Information */

CREATE TABLE [dbo].[D04_11]
(
    [pk_D04_11] INT IDENTITY(1, 1) NOT NULL,
    [AgencyId] INT NOT NULL,         -- Primary Key to Agency
    [D04_11] VARCHAR(50) NOT NULL, -- Hospital Served
    [D04_12] VARCHAR(30) NOT NULL, -- Facility Number
    [Status] CHAR(1) NOT NULL
);
GO

/* Other Destination Information */

CREATE TABLE [dbo].[D04_13]
(
    [pk_D04_13] INT IDENTITY(1, 1) NOT NULL,
    [AgencyId] INT NOT NULL,         -- Primary Key to Agency
    [D04_13] VARCHAR(50) NOT NULL, -- Other Destination
    [D04_14] VARCHAR(30) NOT NULL, -- Facility Number
    [D04_15] INT NOT NULL,         -- Destination Type
    [Status] CHAR(1) NOT NULL
);
GO

/* Insurance Company Information */

CREATE TABLE [dbo].[D04_16]
(
    [pk_D04_16] INT IDENTITY(1, 1) NOT NULL,
    [AgencyId] INT NOT NULL,          -- Primary Key to Agency
    [D04_16] VARCHAR(100) NOT NULL, -- Insurance Company Used 
    [Status] CHAR(1) NOT NULL
);
GO

/* EMD Vendor Information */

CREATE TABLE [dbo].[D04_17]
(
    [pk_D04_17] INT IDENTITY(1, 1) NOT NULL,
    [AgencyId] INT NOT NULL,         -- Primary Key to Agency
    [D04_17] VARCHAR(50) NOT NULL, --EMD Vendor
    [Status] CHAR(1) NOT NULL
);
GO


/* Agency Station Information */

CREATE TABLE [dbo].[D05]
(
    [pk_D05] INT IDENTITY(1, 1) NOT NULL,
    [AgencyId] INT NOT NULL,         -- Primary Key to Agency
    [D05_01] VARCHAR(50) NOT NULL, -- Station Name
    [D05_02] VARCHAR(50) NOT NULL, -- Station Number
    [D05_03] VARCHAR(30) NULL,     -- Zone
    [Lat] VARCHAR(10) NULL,
    [Long] VARCHAR(10) NULL,
    [D05_05] VARCHAR(30) NULL,     -- Address
    [D05_06] VARCHAR(30) NULL,     -- City
    [D05_07] VARCHAR(3) NOT NULL,  -- State
    [D05_08] VARCHAR(10) NULL,     -- Zip
    [D05_09] VARCHAR(10) NULL,     -- Phone Number
    [Status] CHAR(1) NOT NULL
);
GO

/* Vehicle Information */

CREATE TABLE [dbo].[D06]
(
    [pk_D06_01] VARCHAR(50) NOT NULL, -- Vehicle VIN
    [AgencyId] INT NOT NULL,            -- Primary Key to Agency
    [D06_03] INT NOT NULL,            -- Type of Vehicle
    [D06_06] MONEY NULL,              -- Initial Cost
    [D06_07] INT NULL,                -- Model Year
    [Status] CHAR(1) NOT NULL
);
GO

/* Vehicle Information */

CREATE TABLE [dbo].[D06_04]
(
    [pk_D06_04] INT IDENTITY(1, 1) NOT NULL,
    [fk_D06_01] VARCHAR(50) NOT NULL, -- Primary Key Vehicle
    [fk_D04_01] INT NOT NULL,         --Level of cerification
    [D06_05] INT NOT NULL,            -- Number assigned
    [Status] CHAR(1) NOT NULL
);
GO


/* Vehicle Information */

CREATE TABLE [dbo].[D06_08]
(
    [pk_D06_08] INT IDENTITY(1, 1) NOT NULL,
    [fk_D06_01] VARCHAR(50) NOT NULL, -- Primary Key Vehicle
    [D06_08] INT NOT NULL,            -- Year
    [D06_09] INT NOT NULL,            -- Hours
    [D06_10] INT NOT NULL,            -- Miles
    [Status] CHAR(1) NOT NULL
);
GO

/* Personnel Information */

CREATE TABLE [dbo].[D07]
(
    [pk_D07_01] INT IDENTITY(1, 1) NOT NULL, -- Id for person
    [AgencyId] INT NOT NULL,                   -- Primary Key to Agency
    [D07_02] INT NOT NULL,                   -- State ID
    [D07_03] INT NOT NULL,                   -- Employment Status
    [D07_04] DATETIME NULL,                  -- Status date
    [Status] CHAR(1) NOT NULL
);
GO

/* Personnel Certification Information */

CREATE TABLE [dbo].[D07_05]
(
    [pk_D07_05] INT IDENTITY(1, 1) NOT NULL, -- Id for person
    [fk_D07_01] INT NOT NULL,                -- Primary Key to Agency
    [fk_D04_01] INT NOT NULL,                -- State Certification Level
    [D07_06] DATETIME NULL,                  -- Date of Certification
    [Status] CHAR(1) NOT NULL
);
GO

/* General Personnel Information */

CREATE TABLE [dbo].[D08]
(
    [pk_D08] INT IDENTITY(1, 1) NOT NULL,
    [fk_D07_01] INT NOT NULL,      -- Primary Key to Person
    [D08_01] VARCHAR(20) NOT NULL, -- Last Name
    [D08_02] VARCHAR(20) NULL,     -- Middle Name
    [D08_03] VARCHAR(20) NOT NULL, -- First Name
    [D08_04] VARCHAR(30) NULL,     -- Address
    [D08_05] VARCHAR(30) NULL,     -- city
    [D08_06] VARCHAR(3) NULL,      -- State
    [D08_07] VARCHAR(10) NULL,     -- zip
    [D08_08] VARCHAR(10) NULL,     -- Work Phone
    [D08_09] VARCHAR(10) NULL,     -- Home Phone
    [D08_10] VARCHAR(100) NULL,    -- E-mail Address
    [D08_11] DATETIME NULL,        -- Date of Birth
    [D08_12] INT NOT NULL,         -- Gender
    [D08_13] INT NULL,             -- Race
    [D08_14] INT NULL,             -- Ethnicity
    [fk_D04_01] INT NULL,          -- State Certification Level
    [D08_16] INT NULL,             -- National Registry
    [D08_17] DATETIME NULL,        -- Current certification Date
    [D08_18] DATETIME NULL,        -- Initial State Certification date
    [D08_19] INT NULL,             -- Length of service
    [D08_20] DATETIME NULL,        -- Length of service
    [Status] CHAR(1) NOT NULL
);
GO


/* Medical Device Information*/

CREATE TABLE [dbo].[D09]
(
    [pk_D09] INT IDENTITY(1, 1) NOT NULL,
    [AgencyId] INT NOT NULL,         -- Primary Key to Agency
    [D09_01] VARCHAR(50) NULL,     -- serial Number
    [D09_02] VARCHAR(50) NOT NULL, -- device name
    [D09_03] VARCHAR(50) NOT NULL, -- Manufacturer
    [D09_04] VARCHAR(50) NOT NULL, -- model number
    [D09_05] DATETIME NULL,        -- purchase date
    [Status] CHAR(1) NOT NULL
);
GO






/*******************************************************************************/

/**************************** Add Primary Keys *********************************/

/*******************************************************************************/

ALTER TABLE [dbo].[Agency] WITH NOCHECK
ADD CONSTRAINT [Id]
    PRIMARY KEY CLUSTERED ([Id]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[AgencyState] WITH NOCHECK
ADD CONSTRAINT [Id]
    PRIMARY KEY CLUSTERED ([Id]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[AgencyCounty] WITH NOCHECK
ADD CONSTRAINT [Id]
    PRIMARY KEY CLUSTERED ([Id]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[AgencyOtherTypesService] WITH NOCHECK
ADD CONSTRAINT [Id]
    PRIMARY KEY CLUSTERED ([Id]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[AgencyStatistics] WITH NOCHECK
ADD CONSTRAINT [Id]
    PRIMARY KEY CLUSTERED ([Id]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[AgencyOtherInformation] WITH NOCHECK
ADD CONSTRAINT [Id]
    PRIMARY KEY CLUSTERED ([Id]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D02] WITH NOCHECK
ADD CONSTRAINT [Id]
    PRIMARY KEY CLUSTERED ([Id]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D03] WITH NOCHECK
ADD CONSTRAINT [PK_D03]
    PRIMARY KEY CLUSTERED ([pk_D03]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D04_01] WITH NOCHECK
ADD CONSTRAINT [PK_D04_01]
    PRIMARY KEY CLUSTERED ([pk_D04_01]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D04_02] WITH NOCHECK
ADD CONSTRAINT [PK_D04_02]
    PRIMARY KEY CLUSTERED ([pk_D04_02]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D04_03] WITH NOCHECK
ADD CONSTRAINT [PK_D04_03]
    PRIMARY KEY CLUSTERED ([pk_D04_03]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D04_04] WITH NOCHECK
ADD CONSTRAINT [PK_D04_04]
    PRIMARY KEY CLUSTERED ([pk_D04_04]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D04_06] WITH NOCHECK
ADD CONSTRAINT [PK_D04_06]
    PRIMARY KEY CLUSTERED ([pk_D04_06]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D04_08] WITH NOCHECK
ADD CONSTRAINT [PK_D04_08]
    PRIMARY KEY CLUSTERED ([pk_D04_08]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D04_10] WITH NOCHECK
ADD CONSTRAINT [PK_D04_10]
    PRIMARY KEY CLUSTERED ([pk_D04_10]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D04_11] WITH NOCHECK
ADD CONSTRAINT [PK_D04_11]
    PRIMARY KEY CLUSTERED ([pk_D04_11]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D04_13] WITH NOCHECK
ADD CONSTRAINT [PK_D04_13]
    PRIMARY KEY CLUSTERED ([pk_D04_13]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D04_16] WITH NOCHECK
ADD CONSTRAINT [PK_D04_16]
    PRIMARY KEY CLUSTERED ([pk_D04_16]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D04_17] WITH NOCHECK
ADD CONSTRAINT [PK_D04_17]
    PRIMARY KEY CLUSTERED ([pk_D04_17]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D05] WITH NOCHECK
ADD CONSTRAINT [PK_D05]
    PRIMARY KEY CLUSTERED ([pk_D05]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D06] WITH NOCHECK
ADD CONSTRAINT [PK_D06_01]
    PRIMARY KEY CLUSTERED ([pk_D06_01]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D06_04] WITH NOCHECK
ADD CONSTRAINT [PK_D06_04]
    PRIMARY KEY CLUSTERED ([pk_D06_04]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D06_08] WITH NOCHECK
ADD CONSTRAINT [PK_D06_08]
    PRIMARY KEY CLUSTERED ([pk_D06_08]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D07] WITH NOCHECK
ADD CONSTRAINT [PK_D07_01]
    PRIMARY KEY CLUSTERED ([pk_D07_01]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D07_05] WITH NOCHECK
ADD CONSTRAINT [PK_D07_05]
    PRIMARY KEY CLUSTERED ([pk_D07_05]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D08] WITH NOCHECK
ADD CONSTRAINT [PK_D08]
    PRIMARY KEY CLUSTERED ([pk_D08]) ON [PRIMARY];
GO

ALTER TABLE [dbo].[D09] WITH NOCHECK
ADD CONSTRAINT [PK_D09]
    PRIMARY KEY CLUSTERED ([pk_D09]) ON [PRIMARY];
GO



/*******************************************************************************/

/*************************** Add Relationships *********************************/

/*******************************************************************************/

ALTER TABLE [dbo].[AgencyState]
ADD CONSTRAINT [FK_D01_03_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[AgencyCounty]
ADD CONSTRAINT [FK_D01_04_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[AgencyOtherTypesService]
ADD CONSTRAINT [FK_D01_06_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[AgencyStatistics]
ADD CONSTRAINT [FK_D01_10_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[AgencyOtherInformation]
ADD CONSTRAINT [FK_D01_11_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[D02]
ADD CONSTRAINT [FK_D02_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[D03]
ADD CONSTRAINT [FK_D03_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[D04_01]
ADD CONSTRAINT [FK_D04_01_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[D04_02]
ADD CONSTRAINT [FK_D04_02_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[D04_03]
ADD CONSTRAINT [FK_D04_03_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[D04_04]
ADD CONSTRAINT [FK_D04_04_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[D04_04]
ADD CONSTRAINT [FK_D04_04_D04_01]
    FOREIGN KEY ([fk_D04_01])
    REFERENCES [dbo].[D04_01] ([pk_D04_01]);
GO

ALTER TABLE [dbo].[D04_06]
ADD CONSTRAINT [FK_D04_06_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[D04_06]
ADD CONSTRAINT [FK_D04_06_D04_01]
    FOREIGN KEY ([fk_D04_01])
    REFERENCES [dbo].[D04_01] ([pk_D04_01]);
GO

ALTER TABLE [dbo].[D04_08]
ADD CONSTRAINT [FK_D04_08_D04_01]
    FOREIGN KEY ([fk_D04_01])
    REFERENCES [dbo].[D04_01] ([pk_D04_01]);
GO

ALTER TABLE [dbo].[D04_08]
ADD CONSTRAINT [FK_D04_08_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[D04_10]
ADD CONSTRAINT [FK_D04_10_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[D04_11]
ADD CONSTRAINT [FK_D04_11_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[D04_13]
ADD CONSTRAINT [FK_D04_13_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[D04_16]
ADD CONSTRAINT [FK_D04_16_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[D04_17]
ADD CONSTRAINT [FK_D04_17_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[D05]
ADD CONSTRAINT [FK_D05_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[D06]
ADD CONSTRAINT [FK_D06_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[D06_04]
ADD CONSTRAINT [FK_D06_04_D04_01]
    FOREIGN KEY ([fk_D04_01])
    REFERENCES [dbo].[D04_01] ([pk_D04_01]);
GO

ALTER TABLE [dbo].[D06_08]
ADD CONSTRAINT [FK_D06_08_D06_01]
    FOREIGN KEY ([fk_D06_01])
    REFERENCES [dbo].[D06] ([pk_D06_01]);
GO

ALTER TABLE [dbo].[D07]
ADD CONSTRAINT [FK_D07_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO

ALTER TABLE [dbo].[D07_05]
ADD CONSTRAINT [FK_D07_05_D07_01]
    FOREIGN KEY ([fk_D07_01])
    REFERENCES [dbo].[D07] ([pk_D07_01]);
GO

ALTER TABLE [dbo].[D07_05]
ADD CONSTRAINT [FK_D07_05_D04_01]
    FOREIGN KEY ([fk_D04_01])
    REFERENCES [dbo].[D04_01] ([pk_D04_01]);
GO

ALTER TABLE [dbo].[D08]
ADD CONSTRAINT [FK_D08_D07_01]
    FOREIGN KEY ([fk_D07_01])
    REFERENCES [dbo].[D07] ([pk_D07_01]);
GO

ALTER TABLE [dbo].[D09]
ADD CONSTRAINT [FK_D09_D01]
    FOREIGN KEY ([AgencyId])
    REFERENCES [dbo].[Agency] ([Id]);
GO